{{>layout/header}}

<div class="right_col" role="main">
	<div class="row">
		<div class="col-md-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>HOME > 에이전트 관리 > 등록</h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
				  <div class="border_rows">
				  
                    <div class="row">
                      <div class="form-group row col-12 col-md-12">
                        <div class="control-label" style="text-align: center;">지자체명</div>
                        <div class="form-control_box"><input class="form-control" type="text" name="code_nm" id="code_nm"></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group row col-12 col-md-12">
                        <div class="control-label" style="text-align: center;">지자체 코드</div>
                        <div class="form-control_box"><input class="form-control" type="text" name="code" id="code" value="{{code}}" disabled></div>
                      </div>                    
                    </div>
                    <div class="row">
                      <div class="form-group row col-12 col-md-12">
                        <div class="control-label" style="text-align: center;">법정동 코드</div>
                        <div class="form-control_box"><input class="form-control" type="text" name="local_code" id="local_code"></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group row col-12 col-md-12">
                        <div class="control-label" style="text-align: center;">법정동 코드명</div>
                        <div class="form-control_box"><input class="form-control" type="text" name="local_code_nm" id="local_code_nm"></div>
                      </div>
                    </div>                                        
                    
                  </div>
                  <div class="d-flex justify-content-center align-items-center mt-2">
                    <button class="btn btn-info btn_update" onclick="agentUpd('U');">수정</button>
                    <button class="btn btn-danger" onclick="agentUpd('D');">삭제</button>
                  </div>				
				</div>
			</div>
		</div>
	</div>
</div>

{{>layout/footer}}

<script>
	const url = '/server/agent';
	
	//에이전트 상세
	const agentDetail = function(){
		
		const data = {
	   		url: '/agent/detail',
	   		user_id: 'user00',
	   		code: '{{code}}',
	    };	
		
	    $.ajax({
	        type: 'POST',
	        url: url+'/agentDetail',
	        dataType: 'json',
	        contentType: 'application/json; charset=utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
		  	  if (data != null) {
		  		
		  		$("#code_nm").val(data.code_nm);
		  		$("#local_code").val(data.local_code);
		  		$("#local_code_nm").val(data.local_code_nm);
		  		
	 	      }
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });	
	}	
	
	//에이전트 수정
	const agentUpd = function (type) {

		let data = {};
		
		if(type === 'U'){
		
		    if($("#code_nm").val() == '') {
		        alert('지자체명을 입력하세요!');
		        $("#code_nm").focus();
		        return;
		    }
		    if($("#local_code").val() == '') {
		        alert('법정동 코드를 입력하세요!');
		        $("#local_code").focus();
		        return;
		    }
		    if($("#local_code_nm").val() == '') {
		        alert('법정동 코드명을 입력하세요!');
		        $("#local_code_nm").focus();
		        return;
		    }
		    data = {
		   		url: '/agent/update',
		   		code_nm: $("#code_nm").val(),	
		   		code: "{{code}}",	
		   		local_code: $("#local_code").val(),	
		   		local_code_nm: $("#local_code_nm").val(),	
		   		user_id: 'user00',
		    };	
		    
		}else{
		    data = {
			   		url: '/agent/delete',
			   		code: "{{code}}",	
			   		user_id: 'user00',
			};	
		}
		
		
		let message = '수정 하시겠습니까?';
		if(type === 'D'){
			message = '삭제 하시겠습니까?';
		}
		
		if(confirm(message)) {
		    
		    $.ajax({
		        type: 'POST',
		        url: url+'/agentUpd',
		        dataType: 'json',
		        contentType: 'application/json; charset-utf-8',
		        data: JSON.stringify(data)
		    }).done(function (data) {
		    	
			  	  if (data != null) {
				  		let message = JSON.stringify(data.message);
				  		alert(message.replace(/\"/gi, ''));
				  		listPage();
			  	  }
		    	  
		    }).fail(function (error) {
		        alert(JSON.stringify(error));
		    });	
		}
	}
	
	//리스트 화면
	const listPage = function () {
		location.href = url+'/list';
	}		
	
	
	agentDetail();
</script>

