
        <footer> 
          <!--div class="full-right"></div>Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a-->
          <div class="clearfix"></div>
        </footer>
      </div>
    </div>
    
    <!-- common js-->
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/vendors/jquery/dist/jquery-ui.min.js"></script>
    <script src="/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"> </script>
    <script src="/vendors/fastclick/lib/fastclick.js"></script>
    <script src="/vendors/iCheck/icheck.min.js"></script>
    <script src="/vendors/moment/min/moment.min.js"></script>
    <script src="/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="/vendors/dragula/dist/dragula.js"></script>
    <script src="/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <script src="/vendors/nprogress/nprogress.js"></script>
    <script src="/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="/vendors/Chart.js/dist/Chart.min.js"></script>
    <script src="/vendors/swiper/dist/js/swiper.min.js"></script>
    <script src="/vendors/fancytree-master/src/jquery-ui-dependencies/jquery.fancytree.ui-deps.js"></script>
	<script src="/vendors/fancytree-master/src/jquery.fancytree.js"></script>
	<script src="/vendors/sheetjs/xlsx.full.min.js"></script>
		
    <script src="/js/custom.js"></script>   
    <script src="/js/paging.js"></script>       
    <script src="/js/common.js"></script>   
        
	<script>
	$(document).ready(function() {
		$('#loading-image').hide();
		
	})
	.ajaxStart(function(){
		$('#loading-image').show();
	})
	.ajaxStop(function(){
		$('#loading-image').hide();
	});
	
	const getMenu = function() {
		
		let targetUrl = window.location.pathname;
		if(targetUrl == '/' || targetUrl == '/noLogin'){
			sessionStorage.removeItem("menuId");
		}
		
			$.ajax({
		        type: 'POST',
		        url: '/getMenuByAccount',
		        dataType: 'json',
		        contentType: 'application/json; charset=utf-8',
		        async: false,
		    }).done(function (res) {
		    	
		    	console.log(res)
	  		  if(errorMsg(res)){
		          	 return;  
	   	  	  }	
	  		  
	  		  if(res.data != null && res.data.length > 0){
	  			  if(res.data == 'noLogin'){	//로그인 안했을 경우
	  				  $("#side_menu").show();
	  			  }else if(res.data == 'noUser'){
	  					$(".right_col").empty();
	  			  }else{
	  				let root_menu = res.data;
			  		  
			  		  let str = '';
			  		  str += '<ul class="nav side-menu">';
			  			$.each(root_menu, function (idx, item) {
			  				let l_menu = item.children;
			  				if(item.orderNum == 99){
					  			$.each(l_menu, function (l_idx, l_item) {
					  			  let m_menu = l_item.children;
					  			  str += '	<li>'
					  			  str += '		<a><i class="'+l_item.icon+'"></i>'+l_item.menuName+'<span class="fa fa-chevron-down"> </span></a>';
					  			  
					  			  if(m_menu.length > 0){
					  				  str += '	<ul class="nav child_menu">';
					  					$.each(m_menu, function (m_idx, m_item) {
					  						let s_menu = m_item.children;
					  						if(s_menu.length > 0){
					  							str += '		<li><a>'+m_item.menuName+'<span class="fa fa-chevron-down"> </span></a>';
					  							str += '			<ul class="nav child_menu">';
					  							$.each(s_menu, function (s_idx, s_item) {
					  								str += '			<li id="'+s_item.id+'">';
					  								if(s_item.menuPath){
						  		    					  str += '			<a href="'+s_item.menuPath+'" onclick="clickMenu(\''+s_item.id+'\');">'+s_item.menuName+'</a>';
						  		    				  }else{
						  		    					  str += '			<a>'+s_item.menuName+'</a>';
						  		    				  }
					  								str += '			</li>';
					  							});
					  							str += '			</ul>';
					  						}else{
						    				  str += '		<li id="'+m_item.id+'">';
						    				  if(m_item.menuPath){
						    					  str += '			<a href="'+m_item.menuPath+'" onclick="clickMenu(\''+m_item.id+'\');">'+m_item.menuName+'</a>';
						    				  }else{
						    					  str += '			<a>'+m_item.menuName+'</a>';
						    				  }
						    				  str += '		</li>';
					  						}
						    			  });
						    			  str += '	</ul>';
					  			  }
						    		  str += '	</li>';
				  			  
				  		  		});
			  				}
			  			});
	  		  
				  		  str += '</ul>';
				  		  $("#menu_selection").html(str);
	  			  }
	  			  
	  				selectedMenu();
	  			  
				}else{
					$(".right_col").empty();
				}
		    }).fail(function (error) {
		        alert(JSON.stringify(error));
		    });	
	    }
	
	const clickMenu = function(menuId) {
		sessionStorage.setItem('menuId', menuId);
	}
	
	const selectedMenu = function(){
		let menuId = sessionStorage.getItem('menuId');
		
		$("#"+menuId).parents(".child_menu").css("display","block");
		$("#"+menuId).parent().parent().attr("class","active");
		$("#"+menuId).attr("class","current-page");
		
	}
	
	getMenu();
	</script>        
  </body>
</html>