{{>layout/header}}

	<div class="right_col" role="main">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="x_panel">
	                <div class="x_title"> 
	                  <h2>HOME > 연계대상 관리 > 데이터분배 설정</h2>
	                  <div class="clearfix"> </div>
	                </div>
	                <div class="x_content">
		                <div class="cont_title_box">
		                    <h3>▣ 구분</h3>
		                </div>
	                    <div class="row">
	                    	<div class="metatable_box col-6">
								<div class="form-group row">
									<div class="col-md-12 btn_search_box">
					                    <div class="port_search">
					                      <div class="row">
					                        <div class="form-control_box">
					                          <select class="form-control" name="schema" id="schema">
					                            <option value="">스키마</option>
					                            <option value="A01002">File</option>
					                            <option value="A01003">File(bypass)</option>
					                          </select>
					                        </div>
					                        <div class="form-control_box duplicate_box">
											<input class="form-control" type="text" name="tbl" id="tbl" placeholder="테이블">
											<button class="btn btn-primary">
												<i class="glyphicon glyphicon-search"></i>
											</button>
										</div>
					                      </div>
					                    </div>
				                    </div>
									<div class="x_content">
										<div class="table_responsive" style="height: 300px; overflow: auto">
											<table class="table table-striped" style="width: 100%">
												<colgroup>
													<col width="55px">
												</colgroup>
												<thead>
													<tr>
														<th>선택</th>
														<th>테이블_영문</th>
														<th>테이블_한글</th>
													</tr>
												</thead>
												<tbody id="">
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="metatable_box col-6">
								<div class="form-group row">
									<div class="x_content">
										<div class="table_responsive">
						                    <table class="table table-bordered bulk_action table_center">
						                        <colgroup>
						                        </colgroup>
						                        <thead>
							                        <tr>
							                            <th>스키마</th>
							                            <th colspan="3">
							                                <input class="form-control" type="text" readonly="readonly">
							                            </th>
							                        </tr>
							                        <tr>
							                            <th>테이블</th>
							                            <th colspan="3">
							                                <input class="form-control" type="text" readonly="readonly">
							                            </th>
							                        </tr>
							                        <tr>
							                            <th>서비스명칭</th>
							                            <th colspan="3">
							                                <input class="form-control" type="text">
							                            </th>
							                        </tr>
							                        <tr>
							                            <th>서비스여부</th>
							                            <th colspan="3">
							                                <select class="form-control">
									                            <option value="Y">Y</option>
									                            <option value="N">N</option>
									                          </select>
							                            </th>
							                        </tr>
							                        <tr>
							                            <th>서비스대상</th>
							                            <th colspan="3">
							                                <input class="form-control" type="text">
							                            </th>
							                        </tr>
							                        <tr>
							                            <th>서비스URL</th>
							                            <th colspan="3">
							                                <input class="form-control" type="text" readonly="readonly">
							                            </th>
							                        </tr>
							                        <tr>
							                            <th>서비스설명</th>
							                            <th colspan="3">
							                                <textarea class="form-control" type="text"></textarea>
							                            </th>
							                        </tr>
						                        </thead>
						                    </table>
						                </div>
									</div>
								</div>
							</div>
						</div>
	            	</div>
	            	<div class="x_content">
	                    <div class="row">
							<div class="metatable_box col-12">
								<div class="form-group row">
									<div class="x_content">
										<div class="cont_title_box">
						                    <h3>▣ 서비스 선택</h3>
						                </div>
										<div class="table_responsive">
						                    <table class="table table-striped" style="text-align: center;">
						                        <colgroup>
						                        	<col width="55px;">
						                        </colgroup>
						                        <thead>
						                            <tr>
						                                <th rowspan="2">선택</th>
						                                <th rowspan="2">테이블</th>
						                                <th rowspan="2">컬럼 영문</th>
						                                <th rowspan="2">컬럼 한글</th>
						                                <th rowspan="2">데이터타입</th>
						                                <th rowspan="2">길이수</th>
						                                <th rowspan="2">집합함수 사용여부</th>
						                                <th rowspan="2">집합함수</th>
						                                <th colspan="2">서비스명칭</th>
						                            </tr>
						                            <tr>
						                            	<th>컬럼 명칭</th>
						                            	<th>명칭 설명</th>
						                            </tr>
						                        </thead>
						                        <tbody>
						                        	<tr>
						                        		<td></td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        	</tr>
						                        	<tr>
						                        		<td></td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        	</tr>
						                        	<tr>
						                        		<td></td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        	</tr>
						                        	<tr>
						                        		<td></td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        	</tr>
						                        	<tr>
						                        		<td></td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        	</tr>
						                        </tbody>
						                    </table>
						                </div>
									</div>
								</div>
							</div>
						</div>
	            	</div>
	            	<div class="x_content">
	                    <div class="row">
	                    	<div class="metatable_box col-8">
								<div class="form-group row">
									<div class="x_content">
										<div class="cont_title_box">
						                    <h3>▣ 조건항목</h3>
						                </div>
										<div class="table_responsive">
											<div class="table_btns">
												<div style="padding:5px 5px 0 0; font-size: 15px;">
											  		<input type="checkbox">페이징 처리
											  	</div>
						                      <button class="btn-sm btn-primary">+ 추가</button>
						                      <button class="btn-sm btn-danger">- 삭제</button>
						                    </div>
						                    <table class="table table-striped" style="text-align: center;">
						                        <colgroup>
						                        	<col width="55px;">
						                        </colgroup>
						                        <thead>
						                            <tr>
						                                <th>선택</th>
						                                <th>테이블</th>
						                                <th>대상컬럼</th>
						                                <th>데이터타입</th>
						                                <th>조건</th>
						                                <th>조건명칭</th>
						                                <th>항목설명</th>
						                                <th>테스트값</th>
						                            </tr>
						                        </thead>
						                        <tbody>
						                        	<tr>
						                        		<td></td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        	</tr>
						                        	<tr>
						                        		<td></td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        	</tr>
						                        	<tr>
						                        		<td></td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        	</tr>
						                        	<tr>
						                        		<td></td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        	</tr>
						                        	<tr>
						                        		<td></td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        	</tr>
						                        </tbody>
						                    </table>
						                </div>
									</div>
								</div>
							</div>
							<div class="metatable_box col-4">
								<div class="form-group row">
									<div class="x_content">
										<div class="cont_title_box">
						                    <h3>▣ 정렬순서</h3>
						                </div>
										<div class="table_responsive">
											<div class="table_btns">
						                      <button class="btn-sm btn-primary">+ 추가</button>
						                      <button class="btn-sm btn-danger">- 삭제</button>
						                    </div>
						                    <table class="table table-striped" style="text-align: center;">
						                        <colgroup>
						                        	<col width="55px;">
						                        </colgroup>
						                        <thead>
						                            <tr>
						                                <th>선택</th>
						                                <th>순서</th>
						                                <th>컬럼 영문</th>
						                                <th>정렬방식</th>
						                            </tr>
						                        </thead>
						                        <tbody>
						                        	<tr>
						                        		<td></td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        	</tr>
						                        	<tr>
						                        		<td></td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        	</tr>
						                        	<tr>
						                        		<td></td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        	</tr>
						                        	<tr>
						                        		<td></td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        	</tr>
						                        	<tr>
						                        		<td></td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        		<td>11</td>
						                        	</tr>
						                        </tbody>
						                    </table>
						                </div>
									</div>
								</div>
							</div>
						</div>
	            	</div>
	            	<div class="x_content">
	            		<div class="cont_title_box">
		                    <h3>▣ 쿼리생성</h3>
		                    <div class="right_btns">
		                      <button class="btn-sm btn-dark">쿼리생성</button>
		                      <button class="btn-sm btn-dark">실행</button>
		                    </div>
		                </div>
	                    <div class="row">
							<div class="metatable_box col-12">
								<div class="form-group row">
									<div class="x_content">
										<div class="table_responsive" style="max-height: 300px; overflow: auto;">
										</div>
									</div>
								</div>
							</div>
						</div>
	            	</div>
	            	<div class="x_content">
	            		<div class="cont_title_box">
		                    <h3>▣ 실행결과</h3>
		                </div>
	                    <div class="row">
							<div class="metatable_box col-12">
								<div class="form-group row">
									<div class="x_content">
										<div class="table_responsive" style="max-height: 30px; overflow: auto;">
										</div>
									</div>
								</div>
							</div>
						</div>
	            	</div>
	            	<div class="x_content">
	            		<div class="table_btns mt-4 mb-4">
		                    <div class="right_btns">
		                      <button class="btn btn-primary">저장</button>
		                      <button class="btn btn-success">수정</button>
		                      <button class="btn btn-danger">삭제</button>
		                    </div>
	                	</div>
	            	</div>
	        	</div>
	    	</div>
		</div>
	</div>
	<!-- 이력보기 modal -->
        <div class="modal fade add_modal" id="add_modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">이력 보기</h4>
                <button class="close" type="button" data-dismiss="modal"></button><span aria-hidden="true">&times;</span>
              </div>
              <div class="modal-body">
	          	<div class="table_responsive">
                    <table class="table table-striped">
                      <colgroup>
                      </colgroup>
                      <thead>
                        <tr>
                          <th>적재일</th>
                          <th>수집건수</th>
                          <th>적재건수</th>
                          <th>실패건수</th>
                          <th>다운로드</th>
                        </tr>
                      </thead>
                      <tbody>
                      	<tr>
                      		<td>2019. 6. 18</td>
                      		<td>100</td>
                      		<td>99</td>
                      		<td><span class="blue bold" style="cursor:pointer" onclick="fail_addModal();">1</span></td>
                      		<td><button class="btn btn-success btn-sm mx-0" type="button">다운로드</button></td>
                      	</tr>
                      	<tr>
                      		<td>2019. 6. 18</td>
                      		<td>100</td>
                      		<td>99</td>
                      		<td><span class="blue bold" style="cursor:pointer" onclick="fail_addModal();">1</span></td>
                      		<td><button class="btn btn-success btn-sm mx-0" type="button">다운로드</button></td>
                      	</tr>
                      	<tr>
                      		<td>2019. 6. 18</td>
                      		<td>100</td>
                      		<td>99</td>
                      		<td><span class="blue bold" style="cursor:pointer" onclick="fail_addModal();">1</span></td>
                      		<td><button class="btn btn-success btn-sm mx-0" type="button">다운로드</button></td>
                      	</tr>
                      </tbody>
                    </table>
              	</div>
              </div>
            </div>
          </div>
        </div>
        
    <!-- 실패건수 modal -->
	<div class="modal fade add_modal" id="fail_add_modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="fail_myModalLabel">실패건수</h4>
                <button class="close" type="button" data-dismiss="modal"></button><span aria-hidden="true">&times;</span>
              </div>
              <div class="modal-body">
              	<div class="x_content">
              		<div class="border_rows">
                    <div class="row">
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label">데이터셋명</div>
                        <div class="form-control_box"></div>
                      </div>
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label">실패건수</div>
                        <div class="form-control_box"></div>
                      </div>
                    </div>
                  </div>
                  <div class="table_responsive">
                    <table class="table table-striped">
                      <colgroup>
                      </colgroup>
                      <thead>
                        <tr>
                          <th>문화재명</th>
                          <th>문화재순번</th>
                          <th>고유번호</th>
                          <th>주소</th>
                          <th>체크/재적재</th>
                        </tr>
                      </thead>
                      <tbody>
                      	<tr>
                      		<td><input class="form-control" type="text"></td>
                      		<td><input class="form-control" type="text"></td>
                      		<td><input class="form-control" type="text"></td>
                      		<td><input class="form-control" type="text"></td>
                      		<td><button class="btn btn-success btn-sm mx-0" type="button">체크</button></td>
                      	</tr>
                      </tbody>
                    </table>
              	</div>
              	</div>
              </div>
            </div>
          </div>
        </div>
        
{{>layout/footer}}        

<script>


</script>

