{{>layout/header}}

	<div class="right_col" role="main">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="x_panel">
	                <div class="x_title"> 
	                  <h2>HOME > 수집오류</h2>
	                  <div class="clearfix"> </div>
	                </div>
	                <div class="x_content">
	                	<div class="cont_title_box">
		                    <h3>수집오류 상세 정보</h3>
		                    <div class="right_btns">
		                      <button class="btn btn-dark" onclick="jsList();">목록</button>
		                      <button class="btn btn-danger" onclick="dpIngestErrorsInstant();">즉시실행</button>
		                    </div>
		                  </div>
		                <div class="border_rows">
		                    <div class="row">
		                      <div class="form-group row col-12 col-md-6">
		                        <div class="control-label">Adapter명</div>
		                        <div class="form-control_box" id="adapter_nm"></div>
		                      </div>
		                      <div class="form-group row col-12 col-md-6">
		                        <div class="control-label">데이터셋명</div>
		                        <div class="form-control_box" id="dset_korean_nm"></div>
		                      </div>
		                    </div>
		                    <div class="row">
		                      <div class="form-group row col-12 col-md-6">
		                        <div class="control-label">수집방식</div>
		                        <div class="form-control_box" id="clct_mthd"></div>
		                      </div>
		                      <div class="form-group row col-12 col-md-6">
		                        <div class="control-label">수집유형</div>
		                        <div class="form-control_box" id="clct_ty"></div>
		                      </div>
		                    </div>
		                    <div class="row">
		                      <div class="form-group row col-12 col-md-6">
		                        <div class="control-label">대분류</div>
		                        <div class="form-control_box" id="dset_lclas"></div>
		                      </div>
		                      <div class="form-group row col-12 col-md-6">
		                        <div class="control-label">Instance명</div>
		                        <div class="form-control_box" id="instance_nm"></div>
		                      </div>
		                    </div>
		                    <div class="row">
		                      <div class="form-group row col-12 col-md-6">
		                        <div class="control-label">중분류</div>
		                        <div class="form-control_box" id="dset_mclas"></div>
		                      </div>
		                      <div class="form-group row col-12 col-md-6">
		                        <div class="control-label">테이블명</div>
		                        <div class="form-control_box" id="table_eng_nm"></div>
		                      </div>
		                    </div>
		                    <div class="row">
		                      <div class="form-group row col-12 col-md-6">
		                        <div class="control-label">소분류</div>
		                        <div class="form-control_box" id="dset_sclas"></div>
		                      </div>
		                      <div class="form-group row col-12 col-md-6">
		                        <div class="control-label">수집상태</div>
		                        <div class="form-control_box" id="schedule_yn"></div>
		                      </div>
		                    </div>
		                    <div class="row">
		                      <div class="form-group row col-12 col-md-12">
		                        <div class="control-label">오류사항</div>
		                        <div class="form-control_box" id="error_described"></div>
		                      </div>
		                    </div>
		                    <div class="row">
		                      <div class="form-group row col-12 col-md-12">
		                        <div class="control-label">오류처리</div>
		                        <div class="form-control_box">
		                        	<table class="table table-bordered bulk_action table_center">
		                        		<colgroup>
	                        				<col width="80%;">
	                        			</colgroup>
		                        		<thead>
		                        			<tr>
		                        				<th>바로가기</th>
		                        				<th>처리여부</th>
		                        			</tr>
		                        		</thead>
		                        		<tbody>
		                        			<tr>
		                        				<td><ol><li><a class="btn btn-primary" href="javascript:void(0);" onclick="table_addModal();">테이블 컬럼 변경</a></li></ol></td>
		                        				<td id="table_process_yn"></td>
		                        			</tr>
		                        			<tr>
		                        				<td><ol><li><a class="btn btn-primary" href="javascript:void(0);" onclick="instance_addModal();">Instance 매칭정보</a></li></ol></td>
		                        				<td id="match_process_yn"></td>
		                        			</tr>
		                        		</tbody>
		                        	</table>
		                        </div>
		                      </div>
		                    </div>
		                  </div>
	            	</div>
	        	</div>
	    	</div>
		</div>
	</div>
	<!-- 테이블 컬럼 변경 modal -->
    <div class="modal fade add_modal" id="table_add_modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="table_myModalLabel">테이블 컬럼 변경</h4>
            <button class="close" type="button" data-dismiss="modal"></button><span aria-hidden="true">&times;</span>
          </div>
          <div class="modal-body">
          	<div class="x_content">
          		<div class="border_rows">
                 <div class="row">
                   <div class="form-group row col-12 col-md-6">
                     <div class="control-label">테이블 한글명</div>
                     <div class="form-control_box" id="pop_table_korean_nm"></div>
                   </div>
                   <div class="form-group row col-12 col-md-6">
                     <div class="control-label">테이블 영문명</div>
                     <div class="form-control_box" id="pop_table_eng_nm"></div>
                   </div>
                 </div>
               </div>
             <div class="row"> 
          	<div class="metatable_box col-5">
          		<div class="row"> 
                      <div class="table_responsive" style="height: 500px; overflow: auto">
                    <div class="table_btns mt-1">
                      <button class="btn btn-info" type="button" onclick="metaTblRemakeBtn();">테이블 수정</button>
<!--                       <button class="btn btn-primary">추가</button> -->
                    </div>
                    <div class="talbel_total">총 <span class="red bold" id="total_count"></span>건</div>
                    <table class="table table-striped" style="word-break: break-all;">
                      <colgroup> 
                        <col width="55px;">
                      </colgroup>
                      <thead>
                        <tr> 
                          <th>상태</th>
                          <th>한글명</th>
                          <th>영문명</th>
                          <th>데이터타입</th>
                          <th>데이터길이</th>
                        </tr>
                      </thead>
                      <tbody id="columnInfo">
                      </tbody>
                    </table>
                		</div>
                   </div>
          	</div>
          	<div class="metatable_box col-5 col-lg-7" id="r_layer" style="pointer-events:none;">
          		<div class="row"> 
                     	<div class="table_responsive">
                     		<div class="table_btns mt-1">
		                      <button class="btn btn-primary" onclick="colSaveBtn();" id="col_save_btn">저장</button>
		                    </div>
		            		<table class="table table-bordered bulk_action table_center">
		                        <colgroup>
		                        	<col width="15%">
		                        	<col width="35%">
		                        	<col width="15%">
		                        	<col width="35%">
		                        </colgroup>
		                        <thead>
			                        <tr>
			                            <th>한글명</th>
			                            <th>
			                                <input class="form-control" type="text" name="column_korean_nm" id="column_korean_nm">
			                            </th>
			                            <th>영문명</th>
			                            <th>
			                                <input class="form-control" type="text" name="column_eng_nm" id="column_eng_nm" readonly="readonly">
			                            </th>
			                        </tr>
			                        <tr>
			                            <th>데이터타입</th>
			                            <th>
			                                <select class="form-control" name="data_type" id="data_type" onchange="changeDataType(this);">
			                                    <option value="">선택</option>
			                                    <option value="VARCHAR">VARCHAR</option>
												<option value="INTEGER">INTEGER</option>
												<option value="NUMERIC">NUMERIC</option>
												<option value="TIMESTAMPTZ">TIMESTAMPTZ</option>
			                                </select>
			                            </th>
			                            <th>데이터 길이</th>
			                            <th>
			                                <input class="form-control" type="text" name="data_lt" id="data_lt" oninput="handleOnInputNumber(this);" readonly="readonly">
			                            </th>
			                        </tr>
			                        <tr>
			                            <th>Not null 여부</th>
			                            <th>
			                                <select class="form-control" name="not_null_at" id="not_null_at">
			                                    <option value="Y">예</option>
												<option value="N">아니오</option>
			                                </select>
			                            </th>
			                            <th>데이터셋 종류</th>
			                            <th>
			                                <select class="form-control" name="dset_knd" id="dset_knd">
			                                    <option value="D">데이터</option>
												<option value="M">메타정보</option>
			                                </select>
			                            </th>
			                        </tr>
			                        <tr>
			                            <th>PK 정보</th>
			                            <th>
			                                <select class="form-control" name="pk_info" id="pk_info">
			                                    <option value="Y">예</option>
				                                <option value="N">아니오</option>
			                                </select>
			                            </th>
			                            <th>FK 정보</th>
			                            <th>
			                                <select class="form-control" name="fk_info" id="fk_info">
			                                    <option value="Y">예</option>
				                                <option value="N">아니오</option>
			                                </select>
			                            </th>
			                        </tr>
			                        <tr>
			                            <th>참조 테이블 식별자</th>
			                            <th>
			                            	<div class="form-control_box">
				                            	<input class="form-control mr-1" type="text" name="refrn_table_idntfc_id" id="refrn_table_idntfc_id" readonly="readonly" style="display: inline-block; width: 70%;">
				                            	<button class="btn-sm btn-primary" onclick="addModal();"> <i class="glyphicon glyphicon-search"></i></button>
			                            	</div>
			                            </th>
			                            <th>참조 테이블명</th>
			                            <th>
			                                <input class="form-control" type="text" name="refrn_table_idntfc_id_nm" id="refrn_table_idntfc_id_nm" readonly="readonly">
			                            </th>
			                        </tr>
			                        <tr>
			                            <th>참조 컬럼 식별자</th>
			                            <th>
			                            	<select class="form-control" name="refrn_column_idntfc_id" id="refrn_column_idntfc_id" onchange="changeRefrnColumnNm(this);">
			                                	<option value="">선택</option>
			                                </select>
			                            </th>
			                            <th>참조 컬럼명</th>
			                            <th>
			                                <input class="form-control" type="text" name="refrn_column_idntfc_id_eng_nm" id="refrn_column_idntfc_id_eng_nm" readonly="readonly">
			                            </th>
			                        </tr>
			                        <tr>
			                            <th>개인정보 여부</th>
			                            <th>
			                            	<select class="form-control" name="indvdl_info_at" id="indvdl_info_at">
			                                    <option value="Y">예</option>
												<option value="N">아니오</option>
			                                </select>
			                            </th>
			                            <th>암호화 여부</th>
			                            <th>
			                            	<select class="form-control" name="encpt_at" id="encpt_at">
			                                    <option value="Y">예</option>
												<option value="N">아니오</option>
			                                </select>
			                            </th>
			                        </tr>
			                        <tr>
			                            <th>컬럼 저장 타입</th>
			                            <th>
			                            	<input class="form-control" type="text" name="column_stre_type" id="column_stre_type" readonly="readonly">
			                            </th>
			                            <th>정렬 순서</th>
			                            <th>
			                            	<input class="form-control" type="text" name="ordr" id="ordr">
			                            </th>
			                        </tr>
			                        <tr>
			                            <th>사용여부</th>
			                            <th>
			                            	<select class="form-control" name="use_at" id="use_at">
												<option value="Y">예</option>
												<option value="N">아니오</option>
											</select>
			                            </th>
			                            <th>CRUD 구분</th>
			                            <th>
			                            	<select class="form-control" name="crud_se" id="crud_se">
			                                    <option value="C">C</option>
			                                    <option value="U">U</option>
			                                    <option value="D">D</option>
			                                </select>
			                            </th>
			                        </tr>
			                        <tr>
			                            <th>컬럼 설명</th>
			                            <th>
			                            	<textarea name="column_dc" id="column_dc" rows="4" style="width: 100%;"></textarea>
			                            </th>
			                            <th>CRUD 설명</th>
			                            <th>
			                            	<textarea name="crud_dc" id="crud_dc" rows="4" style="width: 100%;"></textarea>
						                </th>
						            </tr>
			                        </thead>
			                    </table>
	                    	</div>
	                    </div>
	            	</div>
             	</div>
             </div>
           </div>
         </div>
       </div>
	</div>
	
	<!-- Instance 매칭정보 modal -->
    <div class="modal fade add_modal" id="instance_add_modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="instance_myModalLabel">Instance 매칭정보 변경</h4>
            <button class="close" type="button" data-dismiss="modal"></button><span aria-hidden="true">&times;</span>
          </div>
          <div class="modal-body">
          	<div class="x_content">
            	<div class="row">
            		<div class="table_responsive" style="height: 500px; overflow: auto">
            			<div class="table_btns mt-1">
	                      <button class="btn btn-primary" onclick="openModal();">API 데이터 설정</button>
	                    </div>
	                    <table class="table" style="text-align: center;" id="tableDpIngestAdapterItMatchList">
	                      <colgroup> 
	                      </colgroup>
	                      <thead>
	                      	<tr> 
	                          <th colspan="2">데이터 모델</th>
	                          <th colspan="2">Source</th>
	                          <th colspan="2">전처리</th>
	                        </tr>
	                        <tr> 
	                          <th>속성ID</th>
	                          <th>속성값</th>
	                          <th>ID</th>
	                          <th>수신경로</th>
	                          <th>속성</th>
	                          <th>예시</th>
	                        </tr>
	                      </thead>
	                      <tbody id="matchList">
	                      </tbody>
	                    </table>
	               	</div>
             	</div>
             </div>
           </div>
           <div class="modal-footer" id="modal_footer">
           	<button class="btn btn-primary" type="button" onclick="btnUpdate();">수정</button>
           </div>
         </div>
       </div>
	</div>
	<!-- 참조 테이블 식별자 modal -->
    <div class="modal fade add_modal" id="add_modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">참조 테이블 검색</h4>
            <button class="close" type="button" data-dismiss="modal"></button><span aria-hidden="true">&times;</span>
          </div>
          <div class="modal-body">
          	<div class="form-horizontal">
           	<div class="row">
               <div class="form-group row col-12 col-md-10">
                 <input class="form-control" type="text" name="query" id="query" onkeypress="enterkey(event);">
               </div>
                 <button class="btn-sm btn-primary" type="button" onclick="dpIngestPopupMetaTbl();">검색</button>
             </div>
             <div class="table_responsive" style="height: 300px; overflow: auto">
                <table class="table table-striped" style="text-align: center;">
                  <thead>
                    <tr> 
                      <th rowspan="2" style="vertical-align: middle;">데이터셋 한글</th>
                      <th colspan="2">테이블명</th>
                    </tr>
                    <tr>
                      <th>영문</th>
                      <th>국문</th>
                    </tr>
                  </thead>
                  <tbody id="popupMetaTbl">
                  </tbody>
                </table>
              </div>
         </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- API 데이터 설정 modal -->
        <div class="modal fade add_modal" id="apiDataSet" tabindex="-1" role="dialog" aria-hidden="true">
	      <div class="modal-dialog modal-xl"  style="max-width: 600px;">
	        <div class="modal-content">
	          <div class="modal-header">
	            <h3 class="modal-title" id="apiDataSetTxt">API 데이터 설정</h3>
	            <button class="close" type="button" data-dismiss="modal"></button><span aria-hidden="true">&times;</span>
	          </div>
	          <div class="modal-body">
	          	<div class="x_content" >
	            	<div class="row">
	            		<div class="table_responsive" style="max-height:500px; overflow-y:auto;">
		                    <table class="table" style="text-align: center;" id="tableDpIngestPopupPpPath" >
		                      <thead>
		                        <tr> 
		                          <th>선택</th>
		                          <th>수신 경로</th>
		                          <th>항목명</th>
		                        </tr>
		                      </thead>
		                      <tbody id="dpIngestPopupPpPath" >
		                      </tbody>
		                    </table>
		               	</div>
	             	</div>
	             </div>
	           </div>
	           <div class="modal-footer" id="modal_footer">
	           	<button class="btn btn-primary" type="button" onclick="dpIngestPopupPpPathSave();">저장</button>
	           </div>
	         </div>
	       </div>
       </div>
	<input type="hidden" name="table_idntfc_id" id="table_idntfc_id"/>
	<input type="hidden" name="column_idntfc_id" id="column_idntfc_id"/>
	<input type="hidden" name="btn_type" id="btn_type"/>
        
{{>layout/footer}}        

<script>

const commonUrl = '/common';
const url = '/collectionError';

//다중 모달 닫을때 스크롤 비활성화 되는 문제 해결
$('body').on('hidden.bs.modal', function () {
	if ($('.modal:visible').length > 0) { 
        $('body').addClass('modal-open'); 
    }
});

//수집오류 상세 조회
const dpIngestErrorsDt = function () {
	
	let instance_id = '{{instance_id}}';
	
	const data = {
   		url: '/dp/ingest/errors/detail',
   		user_id: 'user00',	
   		instance_id: instance_id,
    };
	
    $.ajax({
        type: 'POST',
        url: url+'/dpIngestErrorsDt',
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(data)
    }).done(function (data) {
    	
	  	  if (data != null) {
	  		  
    		  if(errorMsg(data)){
   	          	 return;  
       	  	  }				
    		  
  	    	if(data.contents != ""){
  	    		$("#adapter_nm").text(data.contents[0].adapter_nm);
  	    		$("#dset_korean_nm").text(data.contents[0].dset_korean_nm);
  	    		$("#clct_mthd").text(data.contents[0].clct_mthd);
  	    		$("#clct_ty").text(data.contents[0].clct_ty);
  	    		$("#dset_lclas").text(data.contents[0].dset_lclas);
  	    		$("#instance_nm").text(data.contents[0].instance_nm);
  	    		$("#dset_mclas").text(data.contents[0].dset_mclas);
  	    		$("#table_eng_nm").text(data.contents[0].table_eng_nm);
  	    		$("#dset_sclas").text(data.contents[0].dset_sclas);
  	    		$("#schedule_yn").text(data.contents[0].schedule_yn);
  	    		$("#error_described").text(data.contents[0].error_described);
  	    		$("#table_process_yn").text(data.contents[0].table_process_yn);
  	    		$("#match_process_yn").text(data.contents[0].match_process_yn);
  	    		$("#table_idntfc_id").val(data.contents[0].table_idntfc_id);
  	    	}
	  	  }
    	  
    }).fail(function (error) {
        alert(JSON.stringify(error));
    });	
}

//오류 처리된 내용을 정상 스케줄실행 스케줄로 처리하며 한번 스케줄 실행
const dpIngestErrorsInstant = function () {
	
	let instance_id = '{{instance_id}}';
	
	const data = {
   		url: '/dp/ingest/errors/instant',
   		user_id: 'user00',	
   		instance_id: instance_id,
    };
	
    $.ajax({
        type: 'POST',
        url: url+'/dpIngestErrorsInstant',
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(data)
    }).done(function (data) {
    	
	  	  if (data != null) {
	  		  
    		  if(errorMsg(data)){
    	          	 return;  
       	  	  }				
	  		
  	    	if(data.contents != ""){
  	    		alert("정상 처리되었습니다.");
  	    	}
	  	  }
    	  
    }).fail(function (error) {
        alert(JSON.stringify(error));
    });	
}

//테이블 조회
const dpIngestAdapterItTbl = function() {
	let table_idntfc_id = $("#table_idntfc_id").val();
	
	const data = {
   		url: '/dp/ingest/adapter/instance/table',
   		user_id: 'user00',	
   		table_idntfc_id: table_idntfc_id,
    };
	
    $.ajax({
        type: 'POST',
        url: url+'/dpIngestAdapterItTbl',
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(data)
    }).done(function (data) {
    	
	  	  if (data != null) {
	  		  
    		  if(errorMsg(data)){
    	          	 return;  
       	  	  }				
	  		
  	    	if(data.contents != ""){
  	    		$("#pop_table_korean_nm").text(data.contents[0].table_korean_nm);
  	    		$("#pop_table_eng_nm").text(data.contents[0].table_eng_nm);
  	    	}
	  	  }
    	  
    }).fail(function (error) {
        alert(JSON.stringify(error));
    });	
}

//메타테이블 컬럼 항목
const dpIngestMetaTblCol = function () {
	return new Promise(function(resolve, reject){
		let table_idntfc_id = $("#table_idntfc_id").val();
		
		const data = {
	   		url: '/dp/ingest/meta/tables/column',
	   		user_id: 'user00',	
	   		table_idntfc_id: table_idntfc_id,
	    };
		
	    $.ajax({
	        type: 'POST',
	        url: url+'/dpIngestMetaTblCol',
	        dataType: 'json',
	        contentType: 'application/json; charset=utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
	    	
		  	  if (data != null) {
		  		  
	    		  if(errorMsg(data)){
	    	          	 return;  
	       	  	  }				
		  		
		  		$("#total_count").text(data.totalCount);
	  	    	if(data.contents != ""){
	  	    		let insertTr = '';
	  	    		$.each(data.contents, function (idx, el) {
	  	    			if(el.creat_table_at == 'N'){
	  	    				insertTr += '<tr style="cursor:pointer;" onclick="dpIngestMetaTblColDt(\''+el.column_idntfc_id+'\');">';
	 	  	    		}else{
	 	  	    			insertTr += '<tr>';
	 	  	    		}
		  	    		insertTr += '	<td></td>';
			  	    	insertTr += '	<td>'+el.column_korean_nm+'</td>';
			  	    	insertTr += '	<td>'+el.column_eng_nm+'</td>';
			  	    	insertTr += '	<td>'+el.data_type+'</td>';
			  	    	insertTr += '	<td>'+el.data_lt+'</td>';
			  	    	insertTr += '</tr>';
			  	    	
	  	    		});
	  	    		$("#columnInfo").html(insertTr);
	  	    	}
	  	    	resolve(data);
		  	  }
	    	  
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });
	});	
}

//메타테이블 컬럼 항목(테이블 컬럼 변경)
const dpIngestErrorsSourceListTbl = function (colData) {
	
	let instance_id = '{{instance_id}}';
	let colArr = new Array();
	
	$.each(colData.contents, function (idx, el) {
		colArr.push(el.column_eng_nm);
	});
	
	const data = {
   		url: '/dp/ingest/errors/source/list',
   		user_id: 'user00',	
   		menu_id : '',
   	    instance_id : instance_id,
    };
	
    $.ajax({
        type: 'POST',
        url: url+'/dpIngestErrorsSourceListTbl',
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(data)
    }).done(function (data) {
    	
	  	  if (data != null) {
	  		  
    		  if(errorMsg(data)){
    	          	 return;  
       	  	  }				
	  		
  	    	if(data.contents != ""){
  	    		let insertTr = '';
  	    		$.each(data.contents, function (idx, el) {
  	    			if(!colArr.includes(el.source_id)){
		  	    		insertTr += '<tr style="cursor:pointer;" onclick="setEngColumn(\''+el.source_id+'\');">';
		  	    		
	// 	  	    		if(el.creat_table_at == 'N'){
	// 	  	    			insertTr += '	<td>신규</td>';
	// 	  	    		}else{
	// 	  	    			insertTr += '	<td></td>';
	// 	  	    		}
		  	    		insertTr += '	<td>신규</td>';
			  	    	insertTr += '	<td></td>';
			  	    	insertTr += '	<td>'+el.source_id+'</td>';
			  	    	insertTr += '	<td></td>';
			  	    	insertTr += '	<td></td>';
			  	    	insertTr += '</tr>';
  	    			}
		  	    	
  	    		});
  	    		
  	    		$("#columnInfo").append(insertTr);
  	    	}
	  	  }
    	  
    }).fail(function (error) {
        alert(JSON.stringify(error));
    });	
}

//메타테이블 컬럼 항목(Instance 매칭정보 변경)
const dpIngestErrorsSourceListMatch = function (ppData, sourceData, preData) {
	
	let instance_id = '{{instance_id}}';
	
	const data = {
   		url: '/dp/ingest/errors/source/list',
   		user_id: 'user00',	
   		menu_id : '',
   	    instance_id : instance_id,
    };
	
    $.ajax({
        type: 'POST',
        url: url+'/dpIngestErrorsSourceListMatch',
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(data)
    }).done(function (data) {
    	
	  	  if (data != null) {
	  		  
    		  if(errorMsg(data)){
    	          	 return;  
       	  	  }
    		  
  	    	if(data.contents != ""){
  	    		let insertTr = '';
		  	    $.each(data.contents, function (idx, el) {
		  	    	let column_eng_nm = '';
		  	    	let column_stre_type = '';
		  	    	for(let obj of ppData.contents){
		  	    		if(obj.column_eng_nm == el.source_id){
		  	    			column_eng_nm = obj.column_eng_nm;
		  	    			column_stre_type = obj.column_stre_type;
		  	    		}
		  	    	}
		  	    	insertTr += '<tr class="match_tr">';
		  	    	insertTr += '	<td id="column_eng_nm" name="column_eng_nm">'+column_eng_nm+'</td>';
		  	    	insertTr += '	<td id="column_stre_type" name="column_stre_type">'+column_stre_type+'</td>';
		  	    	insertTr += '	<td>';
		  	    	insertTr += '		<select class="form-control clct_mthd1" id="source_id" name="source_id">';
		  	    	for(let obj of sourceData.contents){
		  	    		if(obj.source_id == el.source_id){
		  	    			insertTr += '			<option value="'+obj.source_id+'" selected>'+obj.source_id+'</option>';
		  	    		}else{
		  	    			insertTr += '			<option value="'+obj.source_id+'">'+obj.source_id+'</option>';
		  	    		}
		  	    		
		  	    	}
		  	    	insertTr += '		</select>';
		  	    	insertTr += '	</td>';
		  	    	insertTr += '	<td><input class="form-control" type="text" id="source_path" name="source_path" value="'+el.source_path+'" readonly="readonly"></td>';
		  	    	insertTr += '	<td>';
		  	    	insertTr += '		<select class="form-control clct_mthd1" id="pre_id">';
		  	    	for(let obj of preData.contents){
		  	    		insertTr += '			<option value="'+obj.pre_id+'">'+obj.pre_nm+'</option>';
		  	    	}
		  	    	insertTr += '			<option>111</option>';
		  	    	insertTr += '		</select>';
		  	    	insertTr += '	</td>';
		  	    	insertTr += '	<td><input class="form-control" type="text" id="pre_after" name="pre_after" value=""></td>';
		  	    	insertTr += '</tr>';
		  	    });
		  	 	$("#matchList").append(insertTr);
  	    	}
	  	  }
    	  
    }).fail(function (error) {
        alert(JSON.stringify(error));
    });	
}

//참조 메타테이블 컬럼 항목
const dpIngestMetaTblColRefrn = function (table_idntfc_id, refrn_column_idntfc_id) {
	
	const data = {
   		url: '/dp/ingest/meta/tables/column',
   		user_id: 'user00',
   		table_idntfc_id: table_idntfc_id,
    };
	
    $.ajax({
        type: 'POST',
        url: url+'/dpIngestMetaTblColRefrn',
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(data)
    }).done(function (data) {
    	
	  	  if (data != null) {
	  		  
    		  if(errorMsg(data)){
    	          	 return;  
       	  	  }				
	  		
  	    	if(data.contents != ""){
  	    		let insertTr = '';
  	    		$("#refrn_column_idntfc_id option:gt(0)").remove();
  	    		$.each(data.contents, function (idx, el) {
		  	    	
  	    			if(el.column_idntfc_id == refrn_column_idntfc_id){
  	    				insertTr += '<option value="'+el.column_idntfc_id+'" data-engcol="'+el.column_eng_nm+'" selected>'+el.column_korean_nm+'</option>';
  	    				$("#refrn_column_idntfc_id_eng_nm").val(el.column_eng_nm);
  	    			}else{
  	    				insertTr += '<option value="'+el.column_idntfc_id+'" data-engcol="'+el.column_eng_nm+'">'+el.column_korean_nm+'</option>';
  	    			}
		  	    	
  	    		});
  	    		$("#refrn_column_idntfc_id").append(insertTr);
  	    		
  	    	}
	  	  }
    	  
    }).fail(function (error) {
        alert(JSON.stringify(error));
    });	
}

//메타테이블 컬럼 항목 상세
const dpIngestMetaTblColDt = function (column_idntfc_id) {
	
	btnDetail();
	let table_idntfc_id = $("#table_idntfc_id").val();
	$("#column_idntfc_id").val(column_idntfc_id);
	
	$("#refrn_column_idntfc_id").find("option:gt(0)").remove();
	$("#refrn_column_idntfc_id_eng_nm").val("");
	
	const data = {
   		url: '/dp/ingest/meta/tables/column/detail',
   		user_id: 'user00',
   		table_idntfc_id: table_idntfc_id,
   		column_idntfc_id: column_idntfc_id,
    };
	
    $.ajax({
        type: 'POST',
        url: url+'/dpIngestMetaTblColDt',
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(data)
    }).done(function (data) {
    	
	  	  if (data != null) {
	  		  
    		  if(errorMsg(data)){
   	          	 return;  
       	  	  }				
	  		
	  		  
  	    	if(data.contents != ""){
  	    		let insertTr = '';
  	    			
    			$("#column_korean_nm").val(data.contents[0].column_korean_nm);
    			$("#refrn_table_idntfc_id").val(data.contents[0].refrn_table_idntfc_id);
    			$("#column_eng_nm").val(data.contents[0].column_eng_nm);
    			$("#refrn_table_idntfc_id_nm").val(data.contents[0].refrn_table_idntfc_id_nm);
    			$("#data_type").val(data.contents[0].data_type).prop("selected", true);
    			if(data.contents[0].data_type == 'VARCHAR' || data.contents[0].data_type == 'NUMERIC'){
    				$('#data_lt').prop('disabled', false);
    			}else{
    				$('#data_lt').prop('disabled', true);
    			}
    			$("#data_lt").val(data.contents[0].data_lt);
//     			$("#refrn_column_idntfc_id").val(data.contents[0].refrn_column_idntfc_id).prop("selected", true);
    			$("#not_null_at").val(data.contents[0].not_null_at).prop("selected", true);
    			$("#dset_knd").val(data.contents[0].dset_knd).prop("selected", true);
//     			$("#refrn_column_idntfc_id_eng_nm").val($("#refrn_column_idntfc_id").data("engcol"));
    			$("#pk_info").val(data.contents[0].pk_info).prop("selected", true);
    			$("#fk_info").val(data.contents[0].fk_info).prop("selected", true);
    			$("#creat_table_at").val(data.contents[0].creat_table_at);
    			$("#use_at").val(data.contents[0].use_at).prop("selected", true);
    			$("#column_stre_type").val(data.contents[0].column_stre_type);
    			$("#column_dc").val(data.contents[0].column_dc);
    			$("#crud_dc").val(data.contents[0].crud_dc);
    			$("#ordr").val(data.contents[0].ordr);
    			$("#indvdl_info_at").val(data.contents[0].indvdl_info_at).prop("selected", true);
    			$("#encpt_at").val(data.contents[0].encpt_at).prop("selected", true);
    			$("#crud_se").val(data.contents[0].crud_se);
  	    		
    			dpIngestMetaTblColRefrn(data.contents[0].refrn_table_idntfc_id, data.contents[0].refrn_column_idntfc_id);
  	    		
  	    	}
	  	  }
    	  
    }).fail(function (error) {
        alert(JSON.stringify(error));
    });	
}

//메타테이블 컬럼등록
const dpIngestMetaTblSaveCol = function (){
	let table_idntfc_id = $("#table_idntfc_id").val();
	let column_korean_nm = $("#column_korean_nm").val();
	let refrn_table_idntfc_id = $("#refrn_table_idntfc_id").val();
	let column_eng_nm = $("#column_eng_nm").val();
	let refrn_table_idntfc_id_nm = $("#refrn_table_idntfc_id_nm").val();
	let data_type = $("#data_type").val();
	let data_lt = $("#data_lt").val();
	let refrn_column_idntfc_id = $("#refrn_column_idntfc_id").val();
	let not_null_at = $("#not_null_at").val();
	let dset_knd = $("#dset_knd").val();
	let refrn_column_idntfc_id_eng_nm = $("#refrn_column_idntfc_id_eng_nm").val();
	let pk_info = $("#pk_info").val();
	let fk_info = $("#fk_info").val();
	let creat_table_at = $("#creat_table_at").val();
	let use_at = $("#use_at").val();
	let column_stre_type = $("#column_stre_type").val();
	let column_dc = $("#column_dc").val();
	let crud_dc = $("#crud_dc").val();
	let ordr = $("#ordr").val();
	let indvdl_info_at = $("#indvdl_info_at").val();
	let encpt_at = $("#encpt_at").val();
	let crud_se = $("#crud_se").val();
	let table_eng_nm = $("#table_eng_nm").text();
	
	if(!column_korean_nm){
		alert("한글명을 입력하세요!");
		$('#column_korean_nm').focus();
		return;
	}
	
	if(!column_eng_nm){
		alert("영문명을 입력하세요!");
		$('#column_eng_nm').focus();
		return;
	}
	
	const data = {
   		url: '/dp/ingest/meta/tables/save/column',
		user_id: 'user00',
		rl_table_idntfc_id: table_idntfc_id,
		dset_knd: dset_knd,
		ordr: Number(ordr),
		refrn_table_idntfc_id: refrn_table_idntfc_id,
		refrn_column_idntfc_id: refrn_column_idntfc_id,
		table_eng_nm: table_eng_nm,
		column_eng_nm: column_eng_nm,
		column_korean_nm: column_korean_nm,
		column_dc: column_dc,
		data_type: data_type,
		data_lt: data_lt,
		data_frmat: null,
		not_null_at: not_null_at,
		pk_info: pk_info,
		fk_info: fk_info,
		ak_info: null,
		rstrct_cnd: null,
		indvdl_info_at: indvdl_info_at,
		encpt_at: encpt_at,
		othbc_at: null,
		column_stre_type: column_stre_type,
		column_nm: null,
		crud_se: crud_se,
		crud_dc: crud_dc,
		use_at: use_at,
		creat_table_at: creat_table_at,
    };
	
	if(confirm("등록 하시겠습니까?")){
	    $.ajax({
	        type: 'POST',
	        url: url+'/dpIngestMetaTblSaveCol',
	        dataType: 'json',
	        contentType: 'application/json; charset=utf-8',
	        data: JSON.stringify(data),
	    }).done(function (data) {
	    	
  		  if(errorMsg(data)){
	          	 return;  
   	  	  }				
	    	
	  		alert("저장 되었습니다.");
	  		initDetail();
	  		MetaTblColList();
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });	
	}
	
}

//메타테이블 컬럼 수정
const dpIngestMetaTblUpdateCol = function (){
	let table_idntfc_id = $("#table_idntfc_id").val();
	let column_korean_nm = $("#column_korean_nm").val();
	let refrn_table_idntfc_id = $("#refrn_table_idntfc_id").val();
	let column_eng_nm = $("#column_eng_nm").val();
	let refrn_table_idntfc_id_nm = $("#refrn_table_idntfc_id_nm").val();
	let data_type = $("#data_type").val();
	let data_lt = $("#data_lt").val();
	let refrn_column_idntfc_id = $("#refrn_column_idntfc_id").val();
	let not_null_at = $("#not_null_at").val();
	let dset_knd = $("#dset_knd").val();
	let refrn_column_idntfc_id_eng_nm = $("#refrn_column_idntfc_id_eng_nm").val();
	let pk_info = $("#pk_info").val();
	let fk_info = $("#fk_info").val();
	let creat_table_at = $("#creat_table_at").val();
	let use_at = $("#use_at").val();
	let column_stre_type = $("#column_stre_type").val();
	let column_dc = $("#column_dc").val();
	let crud_dc = $("#crud_dc").val();
	let ordr = $("#ordr").val();
	let indvdl_info_at = $("#indvdl_info_at").val();
	let encpt_at = $("#encpt_at").val();
	let crud_se = $("#crud_se").val();
	let table_eng_nm = $("#table_eng_nm").text();
	let column_idntfc_id = $("#column_idntfc_id").val();
	
	if(!column_korean_nm){
		alert("한글명을 입력하세요!");
		$('#column_korean_nm').focus();
		return;
	}
	
	if(!column_eng_nm){
		alert("영문명을 입력하세요!");
		$('#column_eng_nm').focus();
		return;
	}
	
	const data = {
   		url: '/dp/ingest/meta/tables/update/column',
   		column_idntfc_id: column_idntfc_id,
		user_id: 'user00',
		rl_table_idntfc_id: table_idntfc_id,
		dset_knd: dset_knd,
		ordr: Number(ordr),
		refrn_table_idntfc_id: refrn_table_idntfc_id,
		refrn_column_idntfc_id: refrn_column_idntfc_id,
		table_eng_nm: table_eng_nm,
		column_eng_nm: column_eng_nm,
		column_korean_nm: column_korean_nm,
		column_dc: column_dc,
		data_type: data_type,
		data_lt: data_lt,
		data_frmat: null,
		not_null_at: not_null_at,
		pk_info: pk_info,
		fk_info: fk_info,
		ak_info: null,
		rstrct_cnd: null,
		indvdl_info_at: indvdl_info_at,
		encpt_at: encpt_at,
		othbc_at: null,
		column_stre_type: column_stre_type,
		column_nm: null,
		crud_se: crud_se,
		crud_dc: crud_dc,
		use_at: use_at,
		creat_table_at: creat_table_at,
    };
	
	if(confirm("수정 하시겠습니까?")){
	    $.ajax({
	        type: 'POST',
	        url: url+'/dpIngestMetaTblSaveCol',
	        dataType: 'json',
	        contentType: 'application/json; charset=utf-8',
	        data: JSON.stringify(data),
	    }).done(function (data) {
	  		alert("수정 되었습니다.");
	  		initDetail();
	  		MetaTblColList();
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });	
	}
	
}

//테이블생성수정
const dpIngestMetaTblRemake = function (){

	let table_eng_nm = $("#table_eng_nm").text();
	
	const data = {
		url: '/dp/ingest/meta/tables/remake',
		user_id: 'user00',
		table_eng_nm: table_eng_nm,
    };
	
	if(confirm("수정 하시겠습니까?")){
	    $.ajax({
	        type: 'POST',
	        url: url+'/dpIngestMetaTblRemake',
	        dataType: 'json',
	        contentType: 'application/json; charset=utf-8',
	        data: JSON.stringify(data),
	    }).done(function (data) {
	    	
  		  if(errorMsg(data)){
	          	 return;  
   	  	  }				
	    	
	    	if(data.contents[0].successYN == 'Y'){
		   		alert("테이블이 수정되었습니다.");
	 	   	}else{
		   		alert("정상적으로 처리되지 않았습니다.");
	 	   	}
	  		
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });	
	}
	
}

//테이블 수정 처리
const dpIngestMetaTblProcess = function (){
	
	let instance_id = '{{instance_id}}';
	
	const data = {
		url: '/dp/ingest/meta/tables/process',
		user_id: 'user00',
		instance_id: instance_id,
    };
	
    $.ajax({
        type: 'POST',
        url: url+'/dpIngestMetaTblProcess',
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(data),
    }).done(function (data) {
		console.log("dpIngestMetaTblProcess : " + data.contents[0].successYn);
  		
    }).fail(function (error) {
        alert(JSON.stringify(error));
    });	
}

//메타 테이블명 검색
const dpIngestPopupMetaTbl = function () {
	
	let table_korean_nm = $("#query").val();
	
	const data = {
   		url: '/dp/ingest/popup/meta_table',
   		user_id: 'user00',	
   		table_korean_nm: table_korean_nm,
    };
	
    $.ajax({
        type: 'POST',
        url: url+'/dpIngestPopupMetaTbl',
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(data)
    }).done(function (data) {
	  	  if (data != null) {
	  		  
    		  if(errorMsg(data)){
    	          	 return;  
       	  	  }				
	  		
  	    	if(data.contents != ""){
  	    		let insertTr = '';
  	    		$.each(data.contents, function (idx, el) {
  	    			insertTr += '<tr>';
  	    			insertTr += '	<td>'+el.dset_korean_nm+'</td>';
  	    			insertTr += '	<td>'+el.table_eng_nm+'</td>';
  	    			insertTr += '	<td><span class="blue bold" style="cursor:pointer" id="dset_nm" data-idntfc_id="'+el.table_idntfc_id+'" data-korean_nm="'+el.table_korean_nm+'" ondblclick="setTableNm(this);">'+el.table_korean_nm+'</span></td>';
  	    			insertTr += '</tr>';
  	    			
  	    		});
  	    		$("#popupMetaTbl").html(insertTr);
  	    	}
	  	  }
    }).fail(function (error) {
        alert(JSON.stringify(error));
    });	
}

//Instance 매칭정보 리스트 조회
const dpIngestAdapterItMatchList = function(){
	
	let instance_id = '{{instance_id}}';
	
    const data = {
   		url: '/dp/ingest/adapter/instance/match/list',
   		user_id: 'user00',
   		menu_id: '',
   		instance_id: instance_id,
    };		
    
    $.ajax({
        type: 'POST',
        url: url+'/dpIngestAdapterItMatchList',
        dataType: 'json',
        contentType: 'application/json; charset-utf-8',
        data: JSON.stringify(data)
    }).done(function (data) {
	  	  if (data != null) {
	  		  
    		  if(errorMsg(data)){
    	          	 return;  
       	  	  }				
    		  	$("#matchList").empty();
		  	   	if(data.contents != ""){    	
		  	   		let insertTr = '';
   			  	    $.each(data.contents, function (idx, el) {
   			  	    	insertTr += '<tr>';
   			  	    	insertTr += '	<td id="column_eng_nm" name="column_eng_nm">'+el.column_eng_nm+'</td>';
   			  	    	insertTr += '	<td id="column_stre_type" name="column_stre_type">'+el.column_stre_type+'</td>';
   			  	    	insertTr += '	<td>';
   			  	    	insertTr += '		<select class="form-control clct_mthd1" id="source_id" name="source_id" disabled>';
   			  	    	insertTr += '			<option>'+el.source_id+'</option>';
   			  	    	insertTr += '		</select>';
   			  	    	insertTr += '	</td>';
   			  	    	insertTr += '	<td><input class="form-control" type="text" id="source_path" name="source_path" value="'+el.source_path+'" readonly="readonly"></td>';
   			  	    	insertTr += '	<td>';
   			  	    	insertTr += '		<select class="form-control clct_mthd1" id="pre_id" disabled>';
   			  	    	insertTr += '			<option>'+el.pre_nm+'</option>';
   			  	    	insertTr += '		</select>';
   			  	    	insertTr += '	</td>';
   			  	    	insertTr += '	<td><input class="form-control" type="text" id="pre_after" name="pre_after" value="'+el.pre_after+'" readonly="readonly"></td>';
   			  	    	insertTr += '</tr>';
   			  	    });
   			  	 	$("#matchList").append(insertTr);
		  	   	}
	  	  }
    	  
    }).fail(function (error) {
        alert(JSON.stringify(error));
    });			
}

//Instance 매칭정보 저장
const dpIngestAdapterItMatchSave = function(){
	return new Promise(function(resolve, reject){

		let lengthCnt = 0;
		let contentsData = new Array();
		
		if($("#matchList tr.match_tr").length == 0){
			alert("신규 항목이 없습니다.");
			return;
		}
		
		$.each($("#matchList tr.match_tr"), function(){
			 let itemObject = new Object();
			 itemObject.instance_id = '{{instance_id}}';
			 itemObject.column_eng_nm = $(this).find("#column_eng_nm").text();
			 itemObject.column_stre_type = $(this).find("#column_stre_type").text();
			 itemObject.source_id = $(this).find("#source_id").val();
			 itemObject.source_path = $(this).find("#source_path").val();
			 itemObject.pre_nm = $(this).find("#pre_id").text();
			 itemObject.property_type = $(this).find("#property_type").val();
			 itemObject.pre_after = $(this).find("#pre_after").val();
			 itemObject.pre_id = $(this).find("#pre_id").val();
			 itemObject.user_id = 'user00';
			 contentsData.push(itemObject);
		});
		
	    const data = {
		   		url: '/dp/ingest/adapter/instance/match/save',
		   		instance_id: '{{instance_id}}',	
		   		id_mix: "",
		   		dset_idntfc_id: "",
		   		clct_mthd: $("#clct_mthd").text(),
		   		clct_ty: $("#clct_ty").text(),
		   		subfolder_yn: "",
		   		table_eng_nm: $("#table_eng_nm").text(),
		   		user_id: 'user00',	
		   		menu_id: 'menu_id',
		   		contents: contentsData,
		    };		
	    
	    if(confirm("수정 하시겠습니까?")){
		    $.ajax({
		        type: 'POST',
		        url: url+'/dpIngestAdapterItMatchSave',
		        dataType: 'json',
		        contentType: 'application/json; charset-utf-8',
		        data: JSON.stringify(data)
	        }).done(function (data) {
	  	  	  if (data != null) {
	  	  		  
	    		  if(errorMsg(data)){
	  	          	 return;  
	       	  	  }	
	  	  		
			  	   	if(data.contents != ""){    	   
		  	   			if(data.contents[0].successYn === 'Y'){
	// 		  	 	  		let message = JSON.stringify(data.return_msg);
	// 		  		  		alert(message.replace(/\"/gi, ''));
		  	   				resolve(data);
		  	   			}
			  	   	}
		  	  }
	        }).fail(function (error) {
	            alert(JSON.stringify(error));
	        });	
	    }
	});
}

//Instance 매칭정보 리스트 조회
const dpIngestAdapterItProcess = function(){
	
	let instance_id = '{{instance_id}}';
	
    const data = {
   		url: '/dp/ingest/adapter/instance/process',
   		user_id: 'user00',
   		instance_id: instance_id,
    };		
    
    $.ajax({
        type: 'POST',
        url: url+'/dpIngestAdapterItProcess',
        dataType: 'json',
        contentType: 'application/json; charset-utf-8',
        data: JSON.stringify(data)
    }).done(function (data) {
	  	  if (data != null) {
	  		  
    		  if(errorMsg(data)){
    	          	 return;  
       	  	  }				
	  		
		  	   	if(data.contents != ""){    	
			  	   	if(data.contents[0].successYn === 'Y'){
		  		  		alert("정상 처리되었습니다.");
	  	   			}
		  	   	}
	  	  }
    	  
    }).fail(function (error) {
        alert(JSON.stringify(error));
    });			
}

//데이터 모델 속성 정보 조회
const dpIngestDataModelsPp = function(){
	return new Promise(function(resolve, reject){
	
	let table_idntfc_id = $("#table_idntfc_id").val();
	
    const data = {
	   		url: '/dp/ingest/data/models/property?table_idntfc_id='+table_idntfc_id,
	    };		
	    
	    $.ajax({
	        type: 'POST',
	        url: commonUrl+'/dpIngestDataModelsPp',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
		  	  if (data != null) {
		  		  
	    		  if(errorMsg(data)){
	    	          	 return;  
        	  	  }	
	    		  resolve(data);
		  	  }
	    	  
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });
	});
}

//Source 조회
const dpIngestAdapterItSource = function(){
	return new Promise(function(resolve, reject){
		let instance_id = '{{instance_id}}';
		
	    const data = {
	   		url: '/dp/ingest/adapter/instance/source',
	   		user_id: 'user00',
	   		menu_id: '',
	   		instance_id: instance_id,
	    };		
	    
	    $.ajax({
	        type: 'POST',
	        url: url+'/dpIngestAdapterItSource',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
		  	  if (data != null) {
		  		  
	    		  if(errorMsg(data)){
	    	          	 return;  
	       	  	  }				
		  		
// 			  	   	if(data.contents != ""){  
// 			  	   		let insertTr = '';
// 			  	   	 	$.each(data.contents, function (idx, el) {
// 			     	      insertTr += '<tr>';
// 		     		      insertTr += ' <td><input type=checkbox name="choice_yn" id="choice_yn" value="Y"></td>';
// 		     		      insertTr += ' <td><input type=hidden value='+el.source_path+' name="pop_source_path" id="pop_source_path" >'+el.source_path+'</td>';
// 		     		      insertTr += ' <td><input type=hidden value='+el.source_id+' name="pop_source_id" id="pop_source_id" >'+el.source_id+'</td>';
// 		                  insertTr += '</tr>';
// 				  	    });	  		
// 			  	   	}
			  	   	
			  	   	resolve(data);
		  	  }
	    	  
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });	
	});
}

//전처리 조회
const dpIngestAdapterItPre = function(){
	return new Promise(function(resolve, reject){
		
	    const data = {
	   		url: '/dp/ingest/adapter/instance/pre',
	   		user_id: 'user00',
	   		menu_id: '',
	    };		
	    
	    $.ajax({
	        type: 'POST',
	        url: url+'/dpIngestAdapterItPre',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
		  	  if (data != null) {
		  		  
	    		  if(errorMsg(data)){
	    	          	 return;  
	       	  	  }				
		  		
// 			  	   	if(data.contents != ""){  
// 			  	   		let insertTr = '';
// 			  	   	 	$.each(data.contents, function (idx, el) {
// 			     	      insertTr += '<tr>';
// 		     		      insertTr += ' <td><input type=checkbox name="choice_yn" id="choice_yn" value="Y"></td>';
// 		     		      insertTr += ' <td><input type=hidden value='+el.source_path+' name="pop_source_path" id="pop_source_path" >'+el.source_path+'</td>';
// 		     		      insertTr += ' <td><input type=hidden value='+el.source_id+' name="pop_source_id" id="pop_source_id" >'+el.source_id+'</td>';
// 		                  insertTr += '</tr>';
// 				  	    });	  		
// 			  	   	}
			  	  resolve(data);
		  	  }
	    	  
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });	
	});
}

//수신경로 조회(API 설정정보를 조합하여 조회)
const dpIngestPopupPpPath = function(sourceData){
	
	$("#dpIngestPopupPpPath").empty();	
	
    const data = {
	   		url: '/dp/ingest/popup/property_path',
	   		instance_id: '{{instance_id}}',	
	   		user_id: 'user00',	
	   		menu_id: 'menu_id',
	    };		
	    
	    $.ajax({
	        type: 'POST',
	        url: url+'/dpIngestPopupPpPath',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
	    	
		  	  if (data != null) {
		  		  
	    		  if(errorMsg(data)){
	  	          	 return;  
        	  	  }	
	    		  
			  	   	if(data.contents != ""){    	
    		     	    let i = 0;
    		     	    let insertTr = '';
    			  	    $.each(data.contents, function (idx, el) {
  		     	          	insertTr += '<tr>';
  		     	          
  		     	          	let chkStr = '';
  		     	       		for(let obj of sourceData.contents){
	  			  	    		if(obj.source_id == el.source_id){
	  			  	    			chkStr = 'checked';
	  			  	    		}
  			  	    		}
  		     	          
  		     	       	  	insertTr += ' <td><input type=checkbox name="choice_yn" id="choice_yn" value="Y" '+chkStr+'></td>';
		     		      	insertTr += ' <td><input type=hidden value='+el.source_path+' name="pop_source_path" id="pop_source_path" >'+el.source_path+'</td>';
		     		      	insertTr += ' <td><input type=hidden value='+el.source_id+' name="pop_source_id" id="pop_source_id" >'+el.source_id+'</td>';
		                  	insertTr += '</tr>';
		                  	i++;
    			  	    });	  			  	    
	  	          	    $("#dpIngestPopupPpPath").append(insertTr);		  
			  	   	}
		  	  }
	    	  
		  	  
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });		
}

//API 수신경로 전체 저장
const dpIngestPopupPpPathSave = function(){

	let lengthCnt = 0;
	let contentsData = new Array();
	
	let adaptorSetDataConfigLen = $("#tableDpIngestPopupPpPath tbody tr").length;
	
	if(adaptorSetDataConfigLen > 0){
		
		$.each($("#tableDpIngestPopupPpPath tbody tr"), function(){
			 let itemObject = new Object();
			 itemObject.instance_id = '{{instance_id}}';
			 itemObject.source_id = $(this).find("#pop_source_id").val();
			 itemObject.source_path = $(this).find("#pop_source_path").val();
			 itemObject.choice_yn = $(this).find("#choice_yn").is(':checked') == true ?'Y':'N';
			 itemObject.user_id = 'user00';
			 contentsData.push(itemObject);
		});
		
	    const data = {
		   		url: '/dp/ingest/popup/property_path/save',
		   		instance_id: '{{instance_id}}',	
		   		user_id: 'user00',	
		   		menu_id: 'menu_id',
		   		contents: contentsData,
		    };		
		    
	    	console.log('data:'+JSON.stringify(data));
	    	
		    $.ajax({
		        type: 'POST',
		        url: url+'/dpIngestPopupPpPathSave',
		        dataType: 'json',
		        contentType: 'application/json; charset-utf-8',
		        data: JSON.stringify(data)
		    }).done(function (data) {
			  	  if (data != null) {
			  		  
		    		  if(errorMsg(data)){
		  	          	 return;  
	        	  	  }	
			  			
			  			if(data.contents[0].successYn === 'Y'){
			  	 	  		let message = JSON.stringify(data.return_msg);
			  		  		alert(message.replace(/\"/gi, ''));
				  	   	}
				  	   	
				  	  	$('#apiDataSet').modal('hide');
				  	   	
			  	  }
		    	  
		    }).fail(function (error) {
		        alert(JSON.stringify(error));
		    });	
	}
	    
}

//테이블 컬럼 변경 컬럼항목 및 추가항목
const MetaTblColList = function(){
	dpIngestMetaTblCol()
	.then(function(data){
		dpIngestErrorsSourceListTbl(data);
	})
	.catch(function(error){
		console.log(error)
	});

}

//Instance 매칭정보 추가 항목
const InstanceAddList = async function(){
	const result = await Promise.all([dpIngestDataModelsPp(), dpIngestAdapterItSource(), dpIngestAdapterItPre()]).then(res => {
		dpIngestErrorsSourceListMatch(res[0], res[1], res[2]);
	});

}

//더블클릭 테이블명 전달
const setTableNm = function(obj){
	let table_idntfc_id = $(obj).data("idntfc_id");
	let table_korean_nm = $(obj).data("korean_nm");
	
	$("#refrn_table_idntfc_id").val(table_idntfc_id);
	$("#refrn_table_idntfc_id_nm").val(table_korean_nm);
	
	$("#refrn_column_idntfc_id").val("").prop("selected", true);
	$("#refrn_column_idntfc_id_eng_nm").val("");
	
	dpIngestMetaTblColRefrn(table_idntfc_id);
	
	closeModal();
}

//영문명 입력
const setEngColumn = function(engNm){
	initDetail();
	$("#col_save_btn").css("display","block");
	$("#r_layer").css("pointer-events", "auto");
	$("#column_eng_nm").val(engNm);
}

//테이블수정 버튼
const metaTblRemakeBtn = function () {
	
	dpIngestMetaTblRemake();
	dpIngestMetaTblProcess();
	
}

//테이블 컬럼 변경 모달 추가
const table_addModal = function(){
	let table_idntfc_id = $("#table_idntfc_id").val();
	if(!table_idntfc_id){
		alert("테이블 식별자ID가 존재하지 않습니다!");
		return;
	}
	initDetail();
	dpIngestAdapterItTbl();
	MetaTblColList();
	$('#table_add_modal').modal('show');
}

//Instance 매칭정보 변경모달 추가
const instance_addModal = function(){
	dpIngestAdapterItMatchList();
	InstanceAddList();
	$('#instance_add_modal').modal('show');
}

//참조 테이블 식별자 모달 추가
const addModal = function(){
	$('#query').val('');
	$('#popupMetaTbl').empty();
	$('#add_modal').modal('show');
}

//모달 열기
const openModal = function(){
	
	dpIngestAdapterItSource()
	.then(function(data){
		dpIngestPopupPpPath(data);
	})
	.catch(function(error){
		console.log(error)
	});
	
	$('#apiDataSet').modal('show');
}

const setApiData_addModal = function(){
	dpIngestAdapterItSource()
	.then(function(){
		dpIngestAdapterItProcess();
	})
	.catch(function(error){
		console.log(error)
	});
}

//참조 테이블 식별자 모달 닫기
const closeModal = function(){
	$('#add_modal').modal('hide');
}

//상세 초기화
const initDetail = function(){
	$("#column_korean_nm").val("");
	$("#refrn_table_idntfc_id").val("");
	$("#column_eng_nm").val("");
	$("#refrn_table_idntfc_id_nm").val("");
	$("#data_type").val("").prop("selected", true);
	$("#data_lt").val("");
	$("#refrn_column_idntfc_id").val("");
	$("#not_null_at").val("Y").prop("selected", true);
	$("#dset_knd").val("D").prop("selected", true);
	$("#refrn_column_idntfc_id_eng_nm").val("");
	$("#pk_info").val("Y").prop("selected", true);
	$("#fk_info").val("Y").prop("selected", true);
	$("#creat_table_at").val("");
	$("#use_at").val("Y").prop("selected", true);
	$("#column_stre_type").val("");
	$("#column_dc").val("");
	$("#crud_dc").val("");
	$("#ordr").val("");
	$("#indvdl_info_at").val("Y").prop("selected", true);
	$("#encpt_at").val("Y").prop("selected", true);
	$("#crud_se").val("C").prop("selected", true);
	$("#col_save_btn").text("저장");
	$("#col_save_btn").css("display","none");
	$("#r_layer").css("pointer-events", "none");
  	
}

//데이터타입 선택시 데이터길이/컬럼저장타입 변경
const changeDataType = function(obj){
	let val = $(obj).val();
	$('#data_lt').val('');
	if(val == 'VARCHAR'){
		$('#column_stre_type').val('String');
		$('#data_lt').prop('readonly', false);
	}else if(val == 'INTEGER'){
		$('#column_stre_type').val('Integer');
		$('#data_lt').prop('readonly', true);
	}else if(val == 'NUMERIC'){
		$('#column_stre_type').val('Double');
		$('#data_lt').prop('readonly', false);
	}else if(val == 'TIMESTAMPTZ'){
		$('#column_stre_type').val('Date');
		$('#data_lt').prop('readonly', true);
	}else{
		$('#column_stre_type').val('');
		$('#data_lt').prop('readonly', false);
	}
}

//참조컬럼식별자 변경 선택
const changeRefrnColumnNm = function(obj){
	let column_idntfc_id = $(obj).val();
	$("#refrn_column_idntfc_id_eng_nm").val($(obj).find("option:selected").data("engcol"));
}

//인스턴스 매칭정보 팝업 수정
const btnUpdate = function() {
	dpIngestAdapterItMatchSave()
	.then(function(){
		dpIngestAdapterItProcess();
	})
	.catch(function(error){
		console.log(error)
	});
}

//메타테이블 컬럼 저장 버튼
const colSaveBtn = function () {
	let type = $("#btn_type").val();
	if(type == 'U'){
		dpIngestMetaTblUpdateCol();
	}else{
		dpIngestMetaTblSaveCol();
	}
	
}

//상세 버튼
const btnDetail = function(){
	$("#col_save_btn").text("수정");
	$("#btn_type").val('U');
}


//목록 화면
const jsList = function () {
	location.href = url+'/list';
}

dpIngestErrorsDt();

</script>

