{{>layout/header}}

        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12">
              <div class="x_panel"> 
                <div class="x_title"> 
                  <h2>HOME > Adapter 관리 > Adapter 설정</h2>
                  <div class="clearfix"> </div>
                </div>
                <div class="x_content"> <br>
                  <div class="cont_title_box">
                    <h3>Instance 매칭정보 설정</h3>
                  </div>
                  <div class="border_rows">
                    <div class="row">
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label" style="text-align: center;">인스턴스 명</div>
                        <div class="form-control_box"><span id="instance_nm_txt"></span></div>
                      </div>
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label" style="text-align: center;">데이터 셋 명</div>
                        <div class="form-control_box"><span id="dset_korean_nm_txt"></span></div>
                      </div>
                    </div>
				  </div>
	              <div class="cont_title_box">
	                <h3></h3>
	                <div class="right_btns">
	                	<a class="btn btn-primary" href="javascript:openModal('apiDataSet');">API 데이터 설정 </a>
	                	<a class="btn btn-success" href="javascript:listPage();">목록 </a>
	                	<a class="btn btn-primary" href="javascript:dpIngestAdapterItMatchSave();">저장 </a>
	                </div>
	              </div>
				  <div class="border_rows">
                    <div class="row">
                      <div class="form-group row col-12 col-md-12">
                        <div class="control-label">PK데이터 설정</div>
                        <div class="form-control_box">	
                            <div class="right_btns">
                           		<a class="btn btn-primary" href="javascript:openModal('idSet');">ID설정</a>
                            </div>
                            <h3></h3>
                            <input class="form-control" type="text" name="pk_data_set" id="pk_data_set">
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="cont_title_box">
                  </div>
                                    
                  <div class="table_responsive">
					<table class="table table-bordered bulk_action table_center" id="sandboxTable">
                      <colgroup> 
                        <!-- col width="44px">
                        <col spna="2" width="100px">
                        <col span="8" width="90px">
                        <col span="2" width="102px">
                        <col span="2" width="90px">
                        <col width="120px"-->
                      </colgroup>
                      <thead>
                        <tr> 
                          <th colspan="2">데이터 모델</th>
                          <th colspan="2">Source</th>
                          <th colspan="3">전처리</th>
                        </tr>
                        <tr>
                          <th>속성ID</th>
                          <th>속성값</th>
                          <th>ID</th>
                          <th>수신경로</th>
                          <th>전처리명</th>
                          <th>속성유형</th>
                          <th>예시</th>
                        </tr>
                      </thead>
                      <tbody id="dpIngestAdapterItMatchList">
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- ID 설정 modal -->
        <div class="modal fade idSetting_modal" id="idSet" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel">ID 설정</h3>
                <button class="close" type="button" data-dismiss="modal"></button><span aria-hidden="true">&times;</span>
              </div>
              <div class="modal-body">
                <div class="main-container">
                  <ul class="columns">
                    <li class="column to-do-column">
                      <div class="column-header">
                        <h4>ID 목록</h4>
                      </div>
                      <div class="column-header">
						<table class="table table-striped table-bordered bulk_action">
                          <thead>
                            <tr>
                              <th>ID명(영문)</th>
                              <th>ID명(국문)</th>
                              <th>Type</th>
                              <th>Length</th>
                            </tr>
                          </thead>
                        </table>                      
                      </div>
                      <ul class="task-list" id="drakeLeft">
                      </ul>
                    </li>
                    <li class="column doing-column">
                      <div class="column-header">
                        <h4>선택 ID</h4>
                      </div>
                      <div class="column-header">
						<table class="table table-striped table-bordered bulk_action">
                          <thead>
                            <tr>
                              <th>ID명(영문)</th>
                              <th>ID명(국문)</th>
                              <th>Type</th>
                              <th>Length</th>
                            </tr>
                          </thead>
                        </table>                         
                      </div>                      
                      <ul class="task-list" id="drakeRight">
                        <!-- li class="task">
                          <p>C_NAME_02(Integer)</p>
                        </li-->
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="drake_result_box">
                  <div class="drake_title">ID</div>
                  <div class="drake_result" ><span id="id_mix_txt"></span></div>
                  <button class="btn btn-danger m-0">초기화</button>
                </div>
              </div>
              <div class="modal-footer"> 
                <button class="btn btn-primary" type="button">적용</button>
              </div>
            </div>
          </div>
        </div>        
        
        <!-- API 데이터 설정 modal -->
        <div class="modal fade add_modal" id="apiDataSet" tabindex="-1" role="dialog" aria-hidden="true">
	      <div class="modal-dialog modal-xl"  style="max-width: 600px;">
	        <div class="modal-content">
	          <div class="modal-header">
	            <h3 class="modal-title" id="apiDataSetTxt">API 데이터 설정</h3>
	            <button class="close" type="button" data-dismiss="modal"></button><span aria-hidden="true">&times;</span>
	          </div>
	          <div class="modal-body">
	          	<div class="x_content" style="max-height:500px; overflow-y:auto;">
	            	<div class="row">
	            		<div class="table_responsive">
		                    <table class="table" style="text-align: center;">
		                      <thead>
		                        <tr> 
		                          <th>선택</th>
		                          <th>수신 경로</th>
		                          <th>항목명</th>
		                        </tr>
		                      </thead>
		                      <tbody id="dpIngestPopupPpPath">
		                      </tbody>
		                    </table>
		               	</div>
	             	</div>
	             </div>
	           </div>
	           <div class="modal-footer" id="modal_footer">
	           	<button class="btn btn-primary" type="button" onclick="dpIngestPopupPpPathSave();">선택</button>
	           </div>
	         </div>
	       </div>
       </div>
       
       
       <div id="divForm"></div>
       <input type="hidden" name="dset_idntfc_id" id="dset_idntfc_id">
       <input type="hidden" name="url_mix" id="url_mix">
       <input type="hidden" name="id_mix" id="id_mix">
       <input type="hidden" name="clct_mthd" id="clct_mthd">
       <input type="hidden" name="clct_ty" id="clct_ty">
       <input type="hidden" name="subfolder_yn" id="subfolder_yn">
       <input type="hidden" name="api_mix" id="api_mix">
       <input type="hidden" name="table_eng_nm" id="table_eng_nm">
       <input type="hidden" name="table_idntfc_id" id="table_idntfc_id">
       
{{>layout/footer}}        

<script>
const commonUrl = '/common';
const url = '/adaptor';

//Adapter 상세
const listPage = function(){
	location.href = url+'/detail/{{adapter_id}}';
}

//Instance 매칭정보 리스트 조회
const dpIngestAdapterItMatchList = function(){

	$("#dpIngestAdapterItMatchList").empty();	
	
    const data = {
	   		url: '/dp/ingest/adapter/instance/match/list',
	   		instance_id: '{{instance_id}}',	
	   		user_id: 'user00',	
	   		menu_id: 'menu_id',
	    };		
	    
	    $.ajax({
	        type: 'POST',
	        url: url+'/dpIngestAdapterItMatchList',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
	    	
		  	  if (data != null) {
			  	   	if(data.contents != ""){    	
			  	   		
    		     	    let insertTr = '';
    		     	    let i = 0;
    			  	    $.each(data.contents, function (idx, el) {
  		     	          insertTr += '<tr>';
		     		      insertTr += ' <td>'+el.column_eng_nm+'</td>';
		     		      insertTr += ' <td>'+el.column_stre_type+'</td>';
		     		      insertTr += ' <td><select id="source_id_'+i+'"><option value="'+el.source_id+'">'+el.source_id+'</option></select></td>';
		     		      insertTr += ' <td><input type=text value='+el.source_path+' id=source_path_'+i+' name=source_path></td>';
		     		      insertTr += ' <td><select id="pre_id_'+i+'"><option value=""'+el.pre_id+'"">'+el.pre_nm+'</option></select></td>';
		     		      insertTr += ' <td><input type=text value='+el.property_type+' id=property_type_'+i+' name=property_type></td>';
		     		      insertTr += ' <td><input type=text value='+el.pre_after+' id=pre_after_'+i+' name=pre_after></td>';
		                  insertTr += '</tr>';
		                  i++;
    			  	    });
    	          	    $("#dpIngestAdapterItMatchList").append(insertTr);		  
			  	   		
			  	   	}
		  	  }
	    	  
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });	
	    
}

//Instance 매칭정보 조회
const dpIngestAdapterItMatch = function(){
	
    const data = {
	   		url: '/dp/ingest/adapter/instance/match',
	   		instance_id: '{{instance_id}}',	
	   		user_id: 'user00',	
	   		menu_id: 'menu_id',
	    };		
	    
	    $.ajax({
	        type: 'POST',
	        url: url+'/dpIngestAdapterItMatch',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
	    	
		  	  if (data != null) {
			  	   	if(data.contents != ""){    	
			  	   		$("#instance_nm_txt").text(data.contents[0].instance_nm);
			  	   		$("#dset_korean_nm_txt").text(data.contents[0].dset_korean_nm);
			  	   		
			  	   		$("#dset_idntfc_id").val(data.contents[0].dset_idntfc_id);
			  	   		$("#url_mix").val(data.contents[0].url_mix);
			  	   		$("#id_mix").val(data.contents[0].id_mix);
			  	   		$("#id_mix_txt").text(data.contents[0].id_mix);
			  	   		$("#clct_mthd").val(data.contents[0].clct_mthd);
			  	   		$("#clct_ty").val(data.contents[0].clct_ty);
			  	   		$("#subfolder_yn").val(data.contents[0].subfolder_yn);
			  	   		$("#table_eng_nm").val(data.contents[0].table_eng_nm);
			  	   		$("#api_mix").val(data.contents[0].api_mix);
			  	   		$("#table_idntfc_id").val(data.contents[0].table_idntfc_id);
			  	   		
			  	   	}
		  	  }
	    	  
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });		
	    
    	dpIngestAdapterItMatchList();   
}

//Instance 매칭정보 저장
const dpIngestAdapterItMatchSave = function(){

	let lengthCnt = 0;
	let contentsData = new Array();
	$.each($("#adaptorSetDataConfig tbody tr"), function(){
		 let itemObject = new Object();
		 itemObject.instance_id = '{{instance_id}}';
		 itemObject.column_eng_nm = $(this).find("#column_eng_nm_"+lengthCnt).val();
		 itemObject.column_stre_type = $(this).find("#column_stre_type_"+lengthCnt).val();
		 itemObject.source_id = $(this).find("#source_id_"+lengthCnt).val();
		 itemObject.source_path = $(this).find("#source_path_"+lengthCnt).val();
		 itemObject.pre_nm = $(this).find("#pre_nm_"+lengthCnt).val();
		 itemObject.property_type = $(this).find("#property_type_"+lengthCnt).val();
		 itemObject.pre_after = $(this).find("#pre_after_"+lengthCnt).val();
		 itemObject.pre_id = $(this).find("#pre_id_"+lengthCnt).val();
		 itemObject.user_id = 'user00';
		 contentsData.push(itemObject);
		 lengthCnt++;
	});
	
    const data = {
	   		url: '/dp/ingest/adapter/instance/match/save',
	   		instance_id: '{{instance_id}}',	
	   		id_mix: $("#id_mix").val(),
	   		dset_idntfc_id: $("#dset_idntfc_id").val(),
	   		clct_mthd: $("#clct_mthd").val(),
	   		clct_ty: $("#clct_ty").val(),
	   		subfolder_yn: $("#subfolder_yn").val(),
	   		table_eng_nm: $("#table_eng_nm").val(),
	   		user_id: 'user00',	
	   		menu_id: 'menu_id',
	   		contents: contentsData,
	    };			
        
	    $.ajax({
	        type: 'POST',
	        url: url+'/dpIngestAdapterItMatchSave',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
        }).done(function (data) {
  	  	  if (data != null) {
		  	   	if(data.contents != ""){    	   
	  	   			if(data.contents[0].successYn === 'Y'){
	  	   				dpIngestAdapterItPpSave();
	  	   			}
		  	   	}
	  	  }
        }).fail(function (error) {
            alert(JSON.stringify(error));
        });	
	    
	    dpIngestAdapterItMatch();
}

//데이터 모델 속성 정보 조회

const dpIngestDataModelsPp = function(){
	
	$("#drakeLeft").empty();
    const data = {
	   		url: '/dp/ingest/data/models/property?table_idntfc_id='+$("#table_idntfc_id").val(),
	    };		
	    
	    $.ajax({
	        type: 'POST',
	        url: commonUrl+'/dpIngestDataModelsPp',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
		  	  if (data != null) {
			  	   	if(data.contents != ""){    	
			  	   		let li = '';
    			  	    $.each(data.contents, function (idx, el) {
    			  	    	li += '<li class="task"><p>'+el.column_eng_nm+'</p></li>';
    			  	    });
    			  	 	$("#drakeLeft").append(li);
			  	   	}
		  	  }
	    	  
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });			
}

//전처리 조회
/*
const dpIngestAdapterItPre = function(){
	
    const data = {
	   		url: '/dp/ingest/adapter/instance/pre',
	   		user_id: 'user00',	
	   		menu_id: 'menu_id',
	    };		
	    
	    $.ajax({
	        type: 'POST',
	        url: url+'/dpIngestAdapterItPre',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
		  	  if (data != null) {
			  	   	if(data.contents != ""){    	
				  	   	data.contents[0].pre_id;
				  	 	data.contents[0].pre_nm;
					  	data.contents[0].property_type;
					  	data.contents[0].number_digit;
					  	data.contents[0].change_shape;
					  	data.contents[0].pre_before;
					  	data.contents[0].pre_after;
					  	data.contents[0].start_digit;
					  	data.contents[0].end_digit;
					  	data.contents[0].integer;
					  	data.contents[0].decimal_point;
					  	data.contents[0].change_word;
			  	   	}
		  	  }
	    	  
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });		
}
*/

//API 데이터 구조 조회
/*
const dpIngestAdapterItPath = function(){

    const data = {
	   		url: '/dp/ingest/adapter/instance/path',
	   		instance_id: '{{instance_id}}',	
	   		user_id: 'user00',	
	   		menu_id: 'menu_id',
	    };		
	    
	    $.ajax({
	        type: 'POST',
	        url: url+'/dpIngestAdapterItPath',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
		  	  if (data != null) {
			  	   	if(data.contents != ""){    
				  	   	data.contents[0].api_mix;
			  	   	}
		  	  }
	    	  
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });		
}
*/

//ID 설정 Source 조회
const dpIngestAdapterItSource = function(){
	
	$("#dpIngestAdapterItSource").empty;		
    const data = {
	   		url: '/dp/ingest/adapter/instance/source',
	   		instance_id: '{{instance_id}}',	
	   		user_id: 'user00',	
	   		menu_id: 'menu_id',
	    };		
	    
	    $.ajax({
	        type: 'POST',
	        url: url+'/dpIngestAdapterItSource',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
		  	  if (data != null) {
			  	   	if(data.contents != ""){    	
	  			  	    
    		     	    let insertTr = '';
    			  	    $.each(data.contents, function (idx, el) {
  		     	          insertTr += '<tr>';
		     		      insertTr += ' <td><input type=checkbox value="Y" id="choice_yn" name="choice_yn" '+(el.choice_yn === 'Y'?'checked':'')+'></td>';
		     		      insertTr += ' <td>'+el.source_id+'<input type="hidden" name="source_id" id="source_id" value="'+el.source_id+'"></td>';
		     		      insertTr += ' <td>'+el.source_path+'<input type="hidden" name="source_path" id="source_path" value="'+el.source_path+'"><input type="hidden" name="match_yn" id="match_yn" value="'+el.match_yn+'"></td>';
		                  insertTr += '</tr>';
		                  i++;
    			  	    });	  			  	    
	  	          	    $("#dpIngestAdapterItSource").append(insertTr);		  	  			  	    
			  	   	}
		  	  }
	    	  
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });		
}

//API 수신경로 전체 저장
const dpIngestPopupPpPathSave = function(){

	let lengthCnt = 0;
	let contentsData = new Array();
	
	let adaptorSetDataConfigLen = $("#adaptorSetDataConfig tbody tr").length;
	
	if(adaptorSetDataConfigLen > 0){
		
		$.each($("#adaptorSetDataConfig tbody tr"), function(){
			 let itemObject = new Object();
			 itemObject.instance_id = '{{instance_id}}';
			 itemObject.source_id = $(this).find("#source_id_"+lengthCnt).val();
			 itemObject.source_path = $(this).find("#source_path_"+lengthCnt).val();
			 itemObject.choice_yn = $(this).find("#choice_yn_"+lengthCnt).val();
			 itemObject.user_id = 'user00';
			 contentsData.push(itemObject);
			 lengthCnt++;
		});
		
	    const data = {
		   		url: '/dp/ingest/popup/property_path/save',
		   		instance_id: '{{instance_id}}',	
		   		user_id: 'user00',	
		   		menu_id: 'menu_id',
		   		contents: contentsData,
		    };		
		    
		    $.ajax({
		        type: 'POST',
		        url: url+'/dpIngestPopupPpPathSave',
		        dataType: 'json',
		        contentType: 'application/json; charset-utf-8',
		        data: JSON.stringify(data)
		    }).done(function (data) {
			  	  if (data != null) {
				  	   	if(data.contents != ""){    	
		  		     	    let insertTr = '';
		  			  	    $.each(data.contents, function (idx, el) {
		  		     	         el.source_id;
		  		     	         el.source_path;
		  			  	    });
				  	   	}
			  	  }
		    	  
		    }).fail(function (error) {
		        alert(JSON.stringify(error));
		    });	
	}
	    
}

//수신경로 조회(API 설정정보를 조합하여 조회)

const dpIngestPopupPpPath = function(){
	
	$("#dpIngestPopupPpPath").empty();	
	
    const data = {
	   		url: '/dp/ingest/popup/property_path',
	   		instance_id: '{{instance_id}}',	
	   		user_id: 'user00',	
	   		menu_id: 'menu_id',
	    };		
	    
	    $.ajax({
	        type: 'POST',
	        url: url+'/dpIngestPopupPpPath',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
	    	
	    	  errorMsg(data);
		  	  if (data != null) {
			  	   	if(data.contents != ""){    	
    		     	    let i = 0;
    		     	    let insertTr = '';
    			  	    $.each(data.contents, function (idx, el) {
  		     	          insertTr += '<tr>';
		     		      insertTr += ' <td><input type=checkbox value='+el.source_id+' name=source_id></td>';
		     		      insertTr += ' <td>'+el.source_path+'</td>';
		     		      insertTr += ' <td>'+el.source_id+'</td>';
		                  insertTr += '</tr>';
		                  i++;
    			  	    });	  			  	    
	  	          	    $("#dpIngestPopupPpPath").append(insertTr);		  
			  	   	}
		  	  }
	    	  
		  	  
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });		
}

//모달 열기
const openModal = function(modalId){
	
	if(modalId === 'idSet'){
		dpIngestDataModelsPp();
	}else if(modalId === 'apiDataSet'){
		dpIngestPopupPpPath();
	}
	$('#'+modalId).modal('show');
}


dpIngestAdapterItMatch();
</script>

