{{>layout/header}}

        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12">
              <div class="x_panel"> 
                <div class="x_title"> 
                  <h2>HOME > Adapter 관리 > Adapter 설정</h2>
                  <div class="clearfix"> </div>
                </div>
                <div class="x_content"> <br>
                  <div class="cont_title_box">
                    <h3>Instance 매칭정보 설정</h3>
                  </div>
                  <div class="border_rows">
                    <div class="row">
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label" style="text-align: center;">인스턴스 명</div>
                        <div class="form-control_box"><span id="instance_nm_txt"></span></div>
                      </div>
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label" style="text-align: center;">데이터 셋 명</div>
                        <div class="form-control_box"><span id="dset_korean_nm_txt"></span></div>
                      </div>
                    </div>
				  </div>
	              <div class="cont_title_box">
	                <h3></h3>
	                <div class="right_btns">
	                	<a class="btn btn-primary" href="javascript:listPage();">API 데이터 설정 </a>
	                	<a class="btn btn-success" href="javascript:listPage();">목록 </a>
	                	<a class="btn btn-primary" href="javascript:listPage();">저장 </a>
	                </div>
	              </div>
				  <div class="border_rows">
                    <div class="row">
                      <div class="form-group row col-12 col-md-12">
                        <div class="control-label">PK데이터 설정</div>
                        <div class="form-control_box">	
                            <div class="right_btns">
                           		<a class="btn btn-primary" href="javascript:listPage();">ID설정</a>
                            </div>
                            <h3></h3>
                            <input class="form-control" type="text" name="pk_data_set" id="pk_data_set">
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="cont_title_box">
                  </div>
                                    
                  <div class="table_responsive">
					<table class="table table-bordered bulk_action table_center" id="sandboxTable">
                      <colgroup> 
                        <!-- col width="44px">
                        <col spna="2" width="100px">
                        <col span="8" width="90px">
                        <col span="2" width="102px">
                        <col span="2" width="90px">
                        <col width="120px"-->
                      </colgroup>
                      <thead>
                        <tr> 
                          <th colspan="2">데이터 모델</th>
                          <th colspan="2">Source</th>
                          <th colspan="3">전처리</th>
                        </tr>
                        <tr>
                          <th>속성ID</th>
                          <th>속성값</th>
                          <th>ID</th>
                          <th>수신경로</th>
                          <th>전처리명</th>
                          <th>속성유형</th>
                          <th>예시</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>C_NAME_01</td>
                          <td>String</td>
                          <td><select></select></td>
                          <td><input class="form-control" type="text" name="pk_data_set" id="pk_data_set"></td>
                          <td> 
                           	<select></select>
                          </td>
                          <td rowspan="2"><input class="form-control" type="text" name="pk_data_set" id="pk_data_set"></td>
                          <td rowspan="2"><input class="form-control" type="text" name="pk_data_set" id="pk_data_set"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- download_modal -->
        <div class="modal fade add_modal" id="add_modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg" style="max-width: 1000px;">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel"><span id="modelLabel">Instance 등록</span></h2>
                <button class="close" type="button" data-dismiss="modal"></button><span aria-hidden="true">&times;</span>
              </div>
              <div class="modal-body">
				<div class="x_content">
                  <div class="cont_title_box">
                    <h3><span id="instanceTitle">인스턴스 등록</span></h3>
                    <div class="right_btns">
                    	<a class="btn btn-primary" id="btnAdd" href="javascript:dpIngestAdapterItSave('A');">저장 </a>
                    	<a class="btn btn-success" id="btnUpdate" href="javascript:dpIngestAdapterItSave('U');">수정 </a>
                    	<a class="btn btn-danger"  id="btnDel" href="javascript:dpIngestAdapterItDelChk();">삭제 </a>
                    </div>
                  </div>
                  <div class="border_rows">
                    <div class="row">
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label" style="text-align: center;">인스턴스 명</div>
                        <div class="form-control_box"><input class="form-control" type="text" name="instance_nm" id="instance_nm"></div>
                      </div>
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label" style="text-align: center;">데이터 셋 명</div>
                        <div class="form-control_box">
                        	<div class="col-md-9">
                        		<input class="form-control" type="text" name="dset_korean_nm" id="dset_korean_nm">
                        		<input type="hidden" name="dset_idntfc_id" id="dset_idntfc_id" >
                        	</div>
                        	<div class="col-md-3">
	                        	<button class="btn btn-primary" onclick="openModal('dataSet');"> <i class="glyphicon glyphicon-search"></i></button>
	                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label" style="text-align: center;">수집방식</div>
                        <div class="form-control_box">
							<select class="form-control" id="clct_mthd" name="clct_mthd" onchange="clctMthdType(this.value, '');">
                            </select>                        
                        </div>
                      </div>
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label" style="text-align: center;">수집유형</div>
                        <div class="form-control_box">
                            <select class="form-control" id="clct_ty" name="clct_ty">
                              <option>선택</option>
                            </select>                          
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label" style="text-align: center;">보관주기</div>
                        <div class="form-control_box">
                        	<div class="col-md-6">
	                        	<input class="form-control" type="text" id="storage_cycle" name="storage_cycle" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
	                        </div>
	                        <div class="col-md-6">
							    <select class="form-control" id="storage_type" name="storage_type">
	                              <option value= "">선택</option>
	                              <option value="년">년</option>
	                              <option value="월">월</option>
	                              <option value="일">일</option>
	                            </select>	          
                            </div>              
                        </div>
                      </div>
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label" style="text-align: center;">시계열 데이터</div>
	  					   <div class="form-control_box">
                             <div class="radio radio_inline">
                               <label class="">
                                   <input class="" type="radio" name="time_data_yn" id="time_data_yn_y" value="Y" checked="">예
                               </label>
                             </div>
                             <div class="radio radio_inline">
                               <label>
                                   <input class="" type="radio" name="time_data_yn"id="time_data_yn_n"  value="N">아니오
                               </label>
                             </div>
                           </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label" style="text-align: center;">수집 스케줄 유형</div>
                        <div class="form-control_box" id="div_schedule_type">
                        </div>
                      </div>
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label" style="text-align: center;">사용여부</div>
	 					   <div class="form-control_box">
                             <div class="radio radio_inline">
                               <label class="">
                                   <input class="" type="radio" name="useYn" id="useYn_Y" value="Y" checked>사용
                               </label>
                             </div>
                             <div class="radio radio_inline">
                               <label>
                                   <input class="" type="radio" name="useYn" id="useYn_N" value="N">사용안함
                               </label>
                             </div>
                           </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group row col-12 col-md-12">
                        <div class="control-label" style="text-align: center;">수집 스케줄 설정</div>
	 					   <div class="form-control_box">
	 					     <div class="radio radio_inline" id="ymdh"></div>
                             <div class="radio radio_inline">
		 					   <div class="form-control_box">
                                 <select name="year" id="schedule_year" style="display:none;">
                                 </select><span id="schedule_yearTxt" style="display:none;">년</span>		 					   
                                 <select name="month" id="schedule_month">
                                 </select><span id="schedule_monthTxt">월</span>
                                 <select name="day" id="schedule_day">
                                 </select><span id="schedule_dayTxt">일</span>
                                 <select name="day2" id="schedule_week" style="display:none;">
                                 </select><span id="schedule_weekTxt" style="display:none;">요일</span>
                                 <select name="hour" id="schedule_hour">
                                 </select><span id="schedule_hourTxt">시</span>
                                 <select name="minute" id="schedule_minute">
                                 </select><span id="schedule_minuteTxt">분 </span>
                                 <input class="" type="checkbox" name="schedule_now_exe" id="schedule_now_exe" value="Y" ><label>즉시실행</label>
	                           </div>
	                         </div> 
                           </div>
                      </div>
                    </div>                    
                    <div class="row">
                      <div class="form-group row col-12 col-md-12">
                        <div class="control-label" style="text-align: center;">비고</div>
                        <div class="form-control_box"> 
                        	<input class="form-control" type="text" name="etc_note" id="etc_note">
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="modal fade add_modal" id="dataSet" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg" style="max-width: 600px;">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel">데이터셋 선택</h3>
                <button class="close" type="button" data-dismiss="modal"></button><span aria-hidden="true">&times;</span>
              </div>
              <div class="modal-body">
				<div class="x_content">
                  <div class="border_rows">
                    <div class="row">
                      <div class="form-group row col-12 col-md-12">
                        <div class="col-md-12">
	                        <div class="form-control_box"> 
	                        	<input class="form-control" type="text" name="searchNm" id="searchNm" onkeypress="enterkey(event);">
	                        </div>
                        </div>
                      </div>
                      <div class="form-group row col-12 col-md-12">
	                      <div class="col-md-12">
	                        <div class="form-control_box"> 
	                        	<div class="right_btns"><a class="btn btn-primary" href="javascript:dpIngestPopupDset01();">검색 </a></div>
	                        </div>
	                      </div>
                     </div>
					 <div class="row">
                       <div class="col-md-12">
                         <div class="x_panel">
                           <div class="x_content" style="width:100%;max-height:400px; overflow-y:auto;">
                             <div class="table_responsive">
                               <table class="table table-striped table-bordered bulk_action" >
                                 <colgroup>
                                 </colgroup>
                                 <thead>
                                 <tr>
                                   <th rowspan="2" style="text-align: center;">데이터 셋 명</th>
                                   <th colspan="2" style="text-align: center;">테이블</th>
                                 </tr>
                                 <tr>
                                   <th style="text-align: center;">한글 명</th>
                                   <th style="text-align: center;">영문 명</th>
                                 </tr>
                                 </thead>
                                 <tbody id="dataSetInfo">
                                 </tbody>
                               </table>
                             </div>
                           </div>
                         </div>
                       </div>
                     </div>					
					                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
       <div id="divForm"></div>
        
{{>layout/footer}}        

<script>
const commonUrl = '/common';
const url = '/adaptor';

//Adapter 상세
const listPage = function(){
	location.href = url+'/detail/{{adapter_id}}';
}

//Instance 매칭정보 리스트 조회
const dpIngestAdapterItMatchList = function(){

	$("#dpIngestAdapterItMatchList").empty();	
	
    const data = {
	   		url: '/dp/ingest/adapter/instance/match/list',
	   		instance_id: '{{instance_id}}',	
	   		user_id: 'user00',	
	   		menu_id: 'menu_id',
	    };		
	    
	    $.ajax({
	        type: 'POST',
	        url: url+'/dpIngestAdapterItMatchList',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
	    	
		  	  if (data != null) {
			  	   	if(data.contents != ""){    	
			  	   		
    		     	    let insertTr = '';
    		     	    let i = 0;
    			  	    $.each(data.contents, function (idx, el) {
    			  	    	el.instance_id;
    			  	    	el.column_eng_nm;
    			  	    	el.column_stre_type;
    			  	    	el.source_id;
    			  	    	el.source_path;
    			  	    	el.pre_nm;
    			  	    	el.property_type;
    			  	    	el.pre_after;
    			  	    	el.pre_id;
    			  	    });
    	          	    $("#dpIngestAdapterItMatchList").append(insertTr);		  
			  	   		
			  	   	}
		  	  }
	    	  
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });	
	    
}

//Instance 매칭정보 조회
const dpIngestAdapterItMatch = function(){
	
    const data = {
	   		url: '/dp/ingest/adapter/instance/match',
	   		instance_id: '{{instance_id}}',	
	   		user_id: 'user00',	
	   		menu_id: 'menu_id',
	    };		
	    
	    $.ajax({
	        type: 'POST',
	        url: url+'/dpIngestAdapterItMatch',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
	    	
		  	  if (data != null) {
			  	   	if(data.contents != ""){    	
			  	   		$("#instance_nm_txt").text(data.contents[0].instance_nm);
			  	   		$("#dset_korean_nm_txt").text(data.contents[0].dset_korean_nm);
			  	   		
					//  	  instance_nm
					//  	  dset_idntfc_id
					//  	  url_mix
					//  	  dset_korean_nm
					//  	  id_mix
					//  	  clct_mthd
					//  	  clct_ty
					//  	  subfolder_yn
					//  	  table_eng_nm
					//  	  api_mix
			  	   		
			  	   	}
		  	  }
	    	  
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });		
	    
    	dpIngestAdapterItMatchList();   
}

//Instance 매칭정보 저장
const dpIngestAdapterItMatchSave = function(){

	let lengthCnt = 0;
	let contentsData = new Array();
	$.each($("#adaptorSetDataConfig tbody tr"), function(){
		 let itemObject = new Object();
		 itemObject.instance_id = '{{instance_id}}';
		 itemObject.column_eng_nm = $(this).find("#column_eng_nm_"+lengthCnt).val();
		 itemObject.column_stre_type = $(this).find("#column_stre_type_"+lengthCnt).val();
		 itemObject.source_id = $(this).find("#source_id_"+lengthCnt).val();
		 itemObject.source_path = $(this).find("#source_path_"+lengthCnt).val();
		 itemObject.pre_nm = $(this).find("#pre_nm_"+lengthCnt).val();
		 itemObject.property_type = $(this).find("#property_type_"+lengthCnt).val();
		 itemObject.pre_after = $(this).find("#pre_after_"+lengthCnt).val();
		 itemObject.pre_id = $(this).find("#pre_id_"+lengthCnt).val();
		 itemObject.user_id = 'user00';
		 contentsData.push(itemObject);
		 lengthCnt++;
	});
	
    const data = {
	   		url: '/dp/ingest/adapter/instance/match/save',
	   		instance_id: '{{instance_id}}',	
	   		id_mix: id_mix,
	   		dset_idntfc_id: dset_idntfc_id,
	   		clct_mthd: clct_mthd,
	   		clct_ty: clct_ty,
	   		subfolder_yn: subfolder_yn,
	   		table_eng_nm: table_eng_nm,
	   		user_id: 'user00',	
	   		menu_id: 'menu_id',
	   		contents: contentsData,
	    };			
        
	    $.ajax({
	        type: 'POST',
	        url: url+'/dpIngestAdapterItMatchSave',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
        }).done(function (data) {
  	  	  if (data != null) {
		  	   	if(data.contents != ""){    	   
	  	   			if(data.contents[0].successYn === 'Y'){
	  	   				dpIngestAdapterItPpSave();
	  	   			}
		  	   	}
	  	  }
        }).fail(function (error) {
            alert(JSON.stringify(error));
        });	
	    
	    dpIngestAdapterItMatch();
}

//데이터 모델 속성 정보 조회
const dpIngestDataModelsPp = function(){
	
    const data = {
	   		url: '/dp/ingest/data/models/property',
	    };		
	    
	    $.ajax({
	        type: 'POST',
	        url: commonUrl+'/dpIngestDataModelsPp',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
		  	  if (data != null) {
			  	   	if(data.contents != ""){    	
    			  	    $.each(data.contents, function (idx, el) {
    			  	    	el.column_eng_nm;
    			  	    	el.column_stre_type;
    			  	    });
			  	   	}
		  	  }
	    	  
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });			
}
//전처리 조회
const dpIngestAdapterItPre = function(){
	
    const data = {
	   		url: '/dp/ingest/adapter/instance/pre',
	   		user_id: 'user00',	
	   		menu_id: 'menu_id',
	    };		
	    
	    $.ajax({
	        type: 'POST',
	        url: url+'/dpIngestAdapterItPre',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
		  	  if (data != null) {
			  	   	if(data.contents != ""){    	
				  	   	data.contents[0].pre_id;
				  	 	data.contents[0].pre_nm;
					  	data.contents[0].property_type;
					  	data.contents[0].number_digit;
					  	data.contents[0].change_shape;
					  	data.contents[0].pre_before;
					  	data.contents[0].pre_after;
					  	data.contents[0].start_digit;
					  	data.contents[0].end_digit;
					  	data.contents[0].integer;
					  	data.contents[0].decimal_point;
					  	data.contents[0].change_word;
			  	   	}
		  	  }
	    	  
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });		
}

//ID 설정 Source 조회
const dpIngestAdapterItSource = function(){
	
    const data = {
	   		url: '/dp/ingest/adapter/instance/source',
	   		instance_id: '{{instance_id}}',	
	   		user_id: 'user00',	
	   		menu_id: 'menu_id',
	    };		
	    
	    $.ajax({
	        type: 'POST',
	        url: url+'/dpIngestAdapterItSource',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
		  	  if (data != null) {
			  	   	if(data.contents != ""){    	
	  		     	    let insertTr = '';
	  			  	    $.each(data.contents, function (idx, el) {
	  		     	         el.instance_id;
	  		     	         el.source_id;
	  		     	         el.source_path;
	  		     	         el.choice_yn;
	  		     	         el.match_yn;
	  			  	    });
			  	   	}
		  	  }
	    	  
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });		
}

//API 데이터 구조 조회
const dpIngestAdapterItPath = function(){

    const data = {
	   		url: '/dp/ingest/adapter/instance/path',
	   		instance_id: '{{instance_id}}',	
	   		user_id: 'user00',	
	   		menu_id: 'menu_id',
	    };		
	    
	    $.ajax({
	        type: 'POST',
	        url: url+'/dpIngestAdapterItPath',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
		  	  if (data != null) {
			  	   	if(data.contents != ""){    
				  	   	data.contents[0].api_mix;
			  	   	}
		  	  }
	    	  
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });		
}

//API 수신경로 전체 저장
const dpIngestPopupPpPathSave = function(){

	let lengthCnt = 0;
	let contentsData = new Array();
	$.each($("#adaptorSetDataConfig tbody tr"), function(){
		 let itemObject = new Object();
		 itemObject.instance_id = '{{instance_id}}';
		 itemObject.source_id = $(this).find("#source_id_"+lengthCnt).val();
		 itemObject.source_path = $(this).find("#source_path_"+lengthCnt).val();
		 itemObject.choice_yn = $(this).find("#choice_yn_"+lengthCnt).val();
		 itemObject.user_id = 'user00';
		 contentsData.push(itemObject);
		 lengthCnt++;
	});
	
    const data = {
	   		url: '/dp/ingest/popup/property/path',
	   		instance_id: '{{instance_id}}',	
	   		user_id: 'user00',	
	   		menu_id: 'menu_id',
	   		contents: contentsData,
	    };		
	    
	    $.ajax({
	        type: 'POST',
	        url: url+'/dpIngestPopupPpPathSave',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
		  	  if (data != null) {
			  	   	if(data.contents != ""){    	
	  		     	    let insertTr = '';
	  			  	    $.each(data.contents, function (idx, el) {
	  		     	         el.source_id;
	  		     	         el.source_path;
	  			  	    });
			  	   	}
		  	  }
	    	  
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });	
	    
}

//수신경로 조회(API 설정정보를 조합하여 조회)
const dpIngestPopupPpPath = function(){
	
	$("#dpIngestPopupPpPath").empty();	
	
    const data = {
	   		url: '/dp/ingest/popup/property/path',
	   		instance_id: '{{instance_id}}',	
	   		user_id: 'user00',	
	   		menu_id: 'menu_id',
	    };		
	    
	    $.ajax({
	        type: 'POST',
	        url: url+'/dpIngestPopupPpPath',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
		  	  if (data != null) {
			  	   	if(data.contents != ""){    	
	  		     	    let insertTr = '';
	  			  	    $.each(data.contents, function (idx, el) {
	  		     	         el.source_id;
	  		     	         el.source_path;
	  			  	    });
	  	          	    $("#dpIngestPopupPpPath").append(insertTr);		  
			  	   	}
		  	  }
	    	  
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });		
}



dpIngestAdapterItMatch();
</script>

